{{> layout/head }} 
{{> components/header }}

<div class="site-content">
  <main class="container page-404">
      {{> components/page-404}} 
  </main>
</div>

{{> components/footer }} 
{{> layout/foot }}

