{{> layout/head }} {{> components/header }}

<div class="site-content">
  <main class="container ad-bundling">
    <div class="row">
      <div class="col-12">
        <div class="ad-bundling__header">
          <h1 class="ad-bundling__title">Noje noch evenemang</h1>

          <div class="ad-bundling__buttons">
            <button class="button button--secondary">
              <span class="button__inner">
                <span class="button__text">
                  auktioner [fler]
                </span>
              </span>
            </button>
            <button class="button button--primary">
              <span class="button__inner">
                <span class="button__text">
                  resor [fler]
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-sm-6">

        <div class="card mb-3">
          <div class="card__content d-flex">

            <div class="full-width">

              <span class="textad__location">Karlstad kommun</span>
              <h3 class="textad__title">3 veckor kvar</h3>
              <div class="textad__links">
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#eye"></use>
                  </svg>
                  Se annons</a>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#open_in_new"></use>
                  </svg>
                  Till annonsor</a>
              </div>
            </div>

            <img src="https://placehold.it/150x100" alt="">

          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="card mb-3">
          <div class="card__content d-flex">

            <div class="full-width">

              <span class="textad__location">Karlstad kommun</span>
              <h3 class="textad__title">3 veckor kvar</h3>
              <div class="textad__links">
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#eye"></use>
                  </svg>
                  Se annons</a>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#open_in_new"></use>
                  </svg>
                  Till annonsor</a>
              </div>
            </div>

            <img src="https://placehold.it/150x100" alt="">

          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="card mb-3">
          <div class="card__content d-flex">

            <div class="full-width">

              <span class="textad__location">Karlstad kommun</span>
              <h3 class="textad__title">3 veckor kvar</h3>
              <div class="textad__links">
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#eye"></use>
                  </svg>
                  Se annons</a>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#open_in_new"></use>
                  </svg>
                  Till annonsor</a>
              </div>
            </div>

            <img src="https://placehold.it/150x100" alt="">

          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="card mb-3">
          <div class="card__content d-flex">

            <div class="full-width">

              <span class="textad__location">Karlstad kommun</span>
              <h3 class="textad__title">3 veckor kvar</h3>
              <div class="textad__links">
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#eye"></use>
                  </svg>
                  Se annons</a>
                <a href="#">
                  <svg class="icon">
                    <use xlink:href="#open_in_new"></use>
                  </svg>
                  Till annonsor</a>
              </div>
            </div>

            <img src="https://placehold.it/150x100" alt="">

          </div>
        </div>
      </div>

    </div>

  </main>
</div>

{{> components/footer }} {{> layout/foot }}
