{{> layout/head }} {{> components/header }}

<div class="site-content">
  <main class="container ad-bundling">

    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--left">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="http://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-7 col-md-8">
        <div class="ad-bundling__header">
          <h1 class="ad-bundling__title">ad single view, 3 veckor kvar</h1>
        </div>
        <div class="ad-bundling__body">

          <p>
            Företag: Test
          </p>
          <a href="https://pdf.static.nwt.infomaker.io/hQK8iJT_xIcnY_JuwctSFyRvAXo.pdf" alt="">
            <svg class="icon">
              <use xlink:href="#download"></use>
            </svg>
            Ladda ner PDF
          </a>
          <p>
            Länk: <a href="https://nwt.se" id="link-f4be2e38e8d94988ea5eb0d8bdf643f5">https://nwt.se</a>
          </p>

          <div class="d-flex justify-content-between align-items-center mb-2">

          <div>
            <b>Karlstad kommun</b>
          </div>
          <div class="ad-bundling__links textad__links mt-0">
            <a href="#">
              <svg class="icon">
                <use xlink:href="#open_in_new"></use>
              </svg> Till annonsor</a>
          </div>

          </div>



          <p>Perhaps some text about the ad, tells what is this ad event for or sth</p>
          <img src="http://placehold.it/300x400" alt="">
        </div>
      </div>

      <div class="col-12 col-sm-5 col-md-4">
        <div class="mb-6">
          <div class="ad-container ad-container--w250 ad-container--h480 ad-container--right">
            <div class="ad-container__inner">
              <img class="ad-container__ad" src="http://www.placehold.it/250x360" alt="ad banner">
            </div>
          </div>
        </div>
      </div>
    </div>



  </main>
</div>

{{> components/footer }} {{> layout/foot }}