{{> layout/head }}
{{> components/header }}
<div class="site-content">
<main class="container">
  <div class="ad-container ad-container--w980 ad-container--h240 ad-container--center">
    <div class="ad-container__inner">
      <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <img src="images/vertical-man-picture.jpg" alt="Author image" class="d-none d-sm-block">
    </div>
    <div class="col-sm-6">
      <div class="author-full">
        <div class="author-full__info">
          <div class="author-full__picture">
            <img src="images/vertical-man-picture.jpg" alt="Author image" class="d-sm-none">
          </div>
          <div class="author-full__data">
            <div class="author-full__header">
              <h1 class="author-full__title">Per Mårtensson</h1>
            </div>
            <div class="author-full__about">
              Few words about the Author. Who he is, what he does, whatever is important to put here.
            </div>
            <div class="author-full__contact">
              <div class="inline-list inline-list--space-1">
                <div class="inline-list__item">054-19 96 24</div>
                <div class="inline-list__item">per.martensson@nwt.se</div>
              </div>
              <div class="author-full__social">
                <ul class="inline-list inline-list--space-2">
                  <li class="inline-list__item">
                    <a href="#">
                      <span class="sr-only">Gå till facebook</span>
                      <svg class="icon icon--facebook icon--block" aria-hidden="true">
                        <use xlink:href="#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="inline-list__item">
                    <a href="#">
                      <span class="sr-only">Gå till twitter</span>
                      <svg class="icon icon--twitter icon--block" aria-hidden="true">
                        <use xlink:href="#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="inline-list__item">
                    <a href="#">
                      <span class="sr-only">Gå till linkedin</span>
                      <svg class="icon icon--linked-in icon--block" aria-hidden="true">
                        <use xlink:href="#lndi"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <ul class="articles-list">

          <li class="mb-3 reveal">
            <a href="#" class="card card--link">
              <div class="card__content">
                <div class="article-teaser">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__text">
                    Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                  </div>
                </div>
              </div>
            </a>
          </li>

          <li class="mb-3 reveal">
            <a href="#" class="card card--link">
              <div class="card__content">
                <div class="article-teaser">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__text">
                    Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="mb-3 reveal">
            <a href="#" class="card card--link">
              <div class="card__content">
                <div class="article-teaser">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__text">
                    Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="mb-3 reveal">
            <a href="#" class="card card--link">
              <div class="card__content">
                <div class="article-teaser">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__text">
                    Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="ad-container ad-container--w250 ad-container--h480 ad-container--right">
        <div class="ad-container__inner">
          <img class="ad-container__ad" src="https://www.placehold.it/250x480" alt="ad banner">
        </div>
      </div>
    </div>

    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--center">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>

    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--center">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>
  </div>
</main>
</div>


{{> components/footer }}
{{> layout/foot }}
