{{> layout/head }}
<div class="site-content">
  <div class="container">
    <h1>WP FORMS</h1>
    {{> components/wp-forms }}
    
    <h1>Inputs</h1>
    {{> components/inputs }}
  </div>
</div>
{{> components/footer }}
{{> layout/foot }}
