{{> layout/head }}
{{> components/header }}

<div class="site-content">
  <div class="container">
    <div class="docs-section">
      <h2 class="docs-section__title" id="colors">Colors</h2>
      {{> components/colors }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="typography">Typography</h2>
      {{> components/typography }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="icons">Icons</h2>
      {{> components/icons }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="inputs">Inputs</h2>
      {{> components/inputs }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="buttons">Buttons</h2>
      {{> components/buttons }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="images">Images</h2>
      {{> components/images }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="teasers">Teasers</h2>
      {{> components/teasers/index }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="author-card">Author cards</h2>
      <div class="row">
        <div class="col-sm-4">
          {{> components/author-card }}
        </div>
        <div class="col-sm-2">
          {{> components/author-card-horizontal }}
        </div>
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="dropdowns">Dropdowns</h2>
      <div class="row">
        <div class="col-sm-6">
          {{> components/dropdown }}
        </div>
        <div class="col-sm-6">
          {{> components/dropdown_slim }}
        </div>
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="tables">Tables</h2>

      <div>
        {{> components/tables }}
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="breadcrumbs">Breadcrumbs</h2>

      <div>
        {{> components/breadcrumb }}
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="pagination">Pagination</h2>

      <div>
        {{> components/pagination }}
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="latest-box">Latest Box</h2>

      <div>
        {{> components/latest-box/index }}
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="responsive-embed">Responsive embed</h2>

      <div>
        {{> components/responsive-embed }}
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="loader">Loader</h2>
      {{> components/loaders }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="progress">Progress</h2>
      {{> components/progress }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="sort">Sort</h2>
      {{> components/sort }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="tooltip">Tooltip</h2>
      {{> components/tooltips }}
    </div>


    <div class="docs-section">
      <h2 class="docs-section__title" id="rating">Rating</h2>
      {{> components/review-rating }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="accordion">Accordion</h2>
      {{> components/accordion }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="weather">Weather</h2>
      <div class="row">
        <div class="col">{{> components/weather-pane }}</div>
        <div class="col">{{> components/weather-pane }}</div>
        <div class="col">{{> components/weather-pane }}</div>
        <div class="col">{{> components/weather-pane }}</div>
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="weather">Weather</h2>
      {{> components/section }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="gallery">Gallery</h2>
      {{> components/gallery }}
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="popular">Popular post</h2>
      <div class="row">
        <div class="col">
          <div class="col-4">
            {{> components/popular }}
          </div>
        </div>
      </div>
    </div>

    <div class="docs-section">
      <h2 class="docs-section__title" id="popular">Share</h2>
      <div class="row">
        <div class="col">
          <div class="col-4">
            <button class="js-social-share" data-platform="fb" data-href="https://google.com/" data-title="test title">FB share raw</button>
            <button class="js-social-share" data-platform="twitter" data-href="https://google.com/" data-title="test title" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur dicta minus neque sed. Aliquid consequatur dicta, dolore doloremque earum harum labore magnam maiores obcaecati provident qui sapiente soluta suscipit.">Twitter share raw</button>
            <button class="js-social-share" data-platform="linkedin" data-href="https://google.com/" data-title="test title" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur dicta minus neque sed. Aliquid consequatur dicta, dolore doloremque earum harum labore magnam maiores obcaecati provident qui sapiente soluta suscipit.">Linked in share raw</button>
            <button class="js-social-share" data-platform="mail" data-href="https://google.com/" data-title="test title" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur dicta minus neque sed. Aliquid consequatur dicta, dolore doloremque earum harum labore magnam maiores obcaecati provident qui sapiente soluta suscipit.">mail share raw</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="cookie-info">
      <div class="cookie-info__text">
        Vi använder cookies för att ge dig en bättre läsarupplevelse. <br/>
        Genom att fortsätta använda vår webbplats godkänner du detta. Mer om våra cookies.
      </div>
      <div class="cookie-info__action">
        <button class="button button--secondary cookie-info__button">
          <span class="button__inner">
            <span class="button__text">JAG FÖRSTÅR!</span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="side-column">
    <img src="https://www.placehold.it/160x600" alt="">
    <img src="https://www.placehold.it/160x600" alt="">
  </div>
</div>
{{> components/footer }}
{{> layout/foot }}
