{{> adeprimo/layout/head }}
{{> adeprimo/layout/header }}
<div class="site-content">
  <div class="container">
    <div class="pt-4 mb-8">
      <h1 class="h2 text-center mb-4">Välkommen till kundservice</h1>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <form action=""></form>
          <div class="input input--search input--has-icon">
            <div class="input__inner">
              <label class="input__label" for="inputId2">Fyll i sökord…</label>
              <input class="input__field" id="inputId2" type="text">
              <button type="submit" class="button input__icon pt-0 pb-0">
                <svg class="icon icon--block">
                  <use xlink:href="#search"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-8">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-6 icon--block m-auto mb-2">
              <use xlink:href="#lock"></use>
            </svg>

            <div class="text-small text-center">
              Glömt<br/>ditt lösenord?
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-6 icon--block m-auto mb-2">
              <use xlink:href="#warning-outline"></use>
            </svg>

            <div class="text-small text-center">
              Anmäl<br/>utebliven tidning
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-6 icon--block m-auto mb-2">
              <use xlink:href="#pause"></use>
            </svg>

            <div class="text-small text-center">
              Uppehåll i<br/>prenumeration
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-6 icon--block m-auto mb-2">
              <use xlink:href="#calendar-today"></use>
            </svg>

            <div class="text-small text-center">
              Tillfällig<br/>adressändring
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-6 icon--block m-auto mb-2">
              <use xlink:href="#home"></use>
            </svg>

            <div class="text-small text-center">
              Permanent<br/>adressändring
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-6 icon--block m-auto mb-2">
              <use xlink:href="#calendar"></use>
            </svg>

            <div class="text-small text-center">
              Avsluta<br/>Plus
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <div class="row">
        <div class="col-sm-6 mb-4">
          <a href="#" class="card card--full-height card--link">
            <div class="image-aspect card__image">
              <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
            </div>
            <div class="card__content">
              <div class="article-teaser">
                <h3 class="article-teaser__title">
                  Ta inte semester från din tidning!
                </h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 mb-4">
          <a href="#" class="card card--full-height card--link">
            <div class="image-aspect card__image">
              <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
            </div>
            <div class="card__content">
              <div class="article-teaser">
                <h3 class="article-teaser__title">
                  Ta inte semester från din tidning!
                </h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
      <div class="col-sm-6 mb-4">
        <a href="#" class="card card--full-height card--link">
          <div class="image-aspect card__image">
            <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
          </div>
          <div class="card__content">
            <div class="article-teaser">
              <h3 class="article-teaser__title">
                Ta inte semester från din tidning!
              </h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 mb-4">
        <a href="#" class="card card--full-height card--link">
          <div class="image-aspect card__image">
            <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
          </div>
          <div class="card__content">
            <div class="article-teaser">
              <h3 class="article-teaser__title">
                Ta inte semester från din tidning!
              </h3>
            </div>
          </div>
        </a>
      </div>
    </div>
    </div>
    <div class="mb-6">
      <hr>
    </div>
    <div class="mb-8">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="h3 mb-4">Aktuellt</h2>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="article-teaser__date">Fredag 15 juni</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Härlig och fullmatad sommarkryssbilaga– bara för dig som läser e-tidningen!
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="article-teaser__date">Tisdag 19 juni</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Erbjudande till prenumeranter: Läs Aftonbladets e-tidning varje dag för bara 29 kr/månad
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="article-teaser__date">Fredag 15 juni</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Härlig och fullmatad sommarkryssbilaga– bara för dig som läser e-tidningen!
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="article-teaser__date">Tisdag 22 maj</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Nya villkor – större trygghet för dig.
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="article-teaser__date">Fredag 6 april</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Nu kan du även läsa Norran, som en del i samarbetet Sveriges lokalnyheter – gratis för dig som är prenumerant
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6">
          <h2 class="h3 mb-4">Vanliga frågor och svar</h2>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <h3 class="article-teaser__title">
                    Vilka tidningar ingår i Mittmedia?
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <h3 class="article-teaser__title">
                    Jag vill säga upp min prenumeration, hur gör jag?
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <h3 class="article-teaser__title">
                    Var hittar jag prenumerationsvillkoren?
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <h3 class="article-teaser__title">
                    Var hittar jag appen för e-tidningen?
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card card--link reveal mb-4">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="article-teaser__date">Fredag 6 april</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Hur loggar jag in på Läsarshoppen?
                  </h3>
                </div>
                <div class="article-teaser__text">
                  <span class="button button--primary-outline">
                    <span class="button__inner button__text">
                      läs vidare
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <div>
            <a href="#">
              Fler frågor
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-center mb-4">Hittar du inte det du letar efter?</h2>
      <div class="d-flex justify-content-center">
        <a href="#" class="button button--primary">
          <span class="button__inner button__text">
            Kontakta oss
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
{{> adeprimo/layout/footer }}
{{> adeprimo/layout/foot }}
