{{> layout/head }} {{> components/header }}

<div class="site-content">
  <main class="container page-static">

    <div class="row">
      <div class="col-3">logo</div>
      <div class="col-3">logo-mobile</div>
      <div class="col-3">logo-footer</div>
      <div class="col-3">logo-small</div>
    </div>

    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-arvika-nyheter"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-arvika-nyheter"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-arvika-nyheter"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-arvika-nyheter"></use>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-vf"></use>
        </svg>
      </div>
      <div class="col-4">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-footer-vf"></use>
        </svg>
      </div>
      <div class="col-4">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-vf"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-dalslanningen"></use>
        </svg>
      </div>      
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-dalslanningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-footer-dalslanningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-dalslanningen"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-filipstads-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-filipstads-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-filipstads-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-filipstads-tidning"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-frykdals-bygden"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-frykdals-bygden"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-frykdals-bygden"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-frykdals-bygden"></use>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-hjo-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-hjo-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-hjo-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-hjo-tidning"></use>
        </svg>
      </div>
  </div>

    <div class="row">
      <div class="col-4">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-karlskoga-kuriren"></use>
        </svg>
      </div>
      <div class="col-4">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-karlskoga-kuriren"></use>
        </svg>
      </div>
      <div class="col-4">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-karlskoga-kuriren"></use>
        </svg>
      </div>
    </div>


    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-karlskoga-tidning"></use>
        </svg>

      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-karlskoga-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-karlskoga-tidning"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-karlskoga-tidning"></use>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-kristinehamns-posten"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-kristinehamns-posten"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-kristinehamns-posten"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-kristinehamns-posten"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-mariestads-tidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-mariestads-tidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-mariestads-tidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-mariestads-tidningen"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-nwt"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-nwt"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-nwt"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-nwt"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-provinstidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-provinstidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-provinstidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-provinstidningen"></use>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-skaraborgs-allehanda"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-skaraborgs-allehanda"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-skaraborgs-allehanda"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-skaraborgs-allehanda"></use>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-saffle-tidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-mobile-saffle-tidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show logo--white">
          <use xlink:href="#logo-footer-saffle-tidningen"></use>
        </svg>
      </div>
      <div class="col-3">
        <svg class="icon logo logo--show">
          <use xlink:href="#logo-small-saffle-tidningen"></use>
        </svg>
      </div>
    </div>


</div>

</main>
</div>

{{> components/footer }} {{> layout/foot }}
