{{> layout/head }}
{{> components/header }}
<div class="site-content">
<main class="container">
  <div class="d-none d-xl-block">
    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--left">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>
  </div>

  {{> components/important-news }}

  <div class="row mb-4">
    <div class="col-12 col-md-7">
      <a href="#" class="card card--link card--overlay">
        <div class="image-aspect card__image">
          <img
            src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/iyvnzt-2865829.jpg/ALTERNATES/WIDE_1140/2865829.jpg"
            alt="Test"
            class="image-aspect__img">
        </div>
        <div class="card__content">
          <div class="article-teaser article-teaser--large">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <div class="category category--sport article-teaser__category">Sport</div>
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">1h</div>
              </div>
              <h3 class="article-teaser__title">
                Samuelsson: "Ska prata med tyskt lag"
              </h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="d-none d-md-block col-md-5">
      <div class="latest-box card">
        <div class="latest-box__header">
          <h2 class="latest-box__title">SENASTE NYTT</h2>
        </div>
        <div class="latest-box__content">
          <ul class="articles-list">
            <li class="articles-list__element">
              <a href="#" class="articles-list__link">
                <div class="article-teaser article-teaser--line">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">25m</div>
                    </div>
                    <h3 class="article-teaser__title font-weight-normal">
                      Färre hemmasittare med #Jagmed
                    </h3>
                  </div>
                </div>
              </a>
            </li>
            <li class="articles-list__element">
              <a href="#" class="articles-list__link">
                <div class="article-teaser article-teaser--line">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">35m</div>
                    </div>
                    <h3 class="article-teaser__title font-weight-normal">
                      Kölner föll trots Erikssons läckra assist
                    </h3>
                  </div>
                </div>
              </a>
            </li>
            <li class="articles-list__element">
              <a href="#" class="articles-list__link">
                <div class="article-teaser article-teaser--line">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h 20m</div>
                    </div>
                    <h3 class="article-teaser__title font-weight-normal">
                      Åtalad för ringa narkotikabrott
                    </h3>
                  </div>
                </div>
              </a>
            </li>
            <li class="articles-list__element">
              <a href="#" class="articles-list__link">
                <div class="article-teaser article-teaser--line">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h 30</div>
                    </div>
                    <h3 class="article-teaser__title font-weight-normal">
                      Bråten värvar tidigare KB- och RIK-spelare
                    </h3>
                  </div>
                </div>
              </a>
            </li>
            <li class="articles-list__element">
              <a href="#" class="articles-list__link">
                <div class="article-teaser article-teaser--line">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h 35m</div>
                    </div>
                    <h3 class="article-teaser__title font-weight-normal">
                      Polisen vill ha hjälp
                    </h3>
                  </div>
                </div>
              </a>
            </li>
            <li class="articles-list__element">
              <a href="#" class="articles-list__link">
                <div class="article-teaser article-teaser--line">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h 45m</div>
                    </div>
                    <h3 class="article-teaser__title font-weight-normal">
                      KIBF-damernas ledare fortsätter
                    </h3>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="latest-box__footer">
          <nav class="pagination">
            <div class="pagination__text">1-6 of 20</div>
            <a href="#" class="pagination__control" aria-label="Previous" rel="prev">
              <svg class="icon icon--block" aria-hidden="true">
                <use xlink:href="#arr-left"></use>
              </svg>
            </a>

            <a href="#" class="pagination__control" aria-label="Next" rel="next">
              <svg class="icon icon--block" aria-hidden="true">
                <use xlink:href="#arr-right"></use>
              </svg>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <a href="#" class="card card--link card--full-height">
        <div class="image-aspect card__image">
          <img
            src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/he3ygd-2865513.jpg/ALTERNATES/LANDSCAPE_1140/2865513.jpg"
            alt="Test"
            class="image-aspect__img">
        </div>
        <div class="card__content">
          <div class="article-teaser">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <div class="category category--main article-teaser__category">VARMLAND</div>
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">6h</div>
              </div>
              <h3 class="article-teaser__title">
                Advokaten om nya uppgiften i Kevinutredningen
              </h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <a href="#" class="card card--link card--full-height">
        <div class="image-aspect card__image">
          <img
            src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/2ibw1q-2865617.jpg/ALTERNATES/LANDSCAPE_1140/2865617.jpg"
            alt="Test"
            class="image-aspect__img">
        </div>
        <div class="card__content">
          <div class="article-teaser">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <div class="category category--sport article-teaser__category">SPORT</div>
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">6h</div>
              </div>
              <h3 class="article-teaser__title">
                Karlstad IBF 400 000 back – elitlicens i fara
              </h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <a href="#" class="card card--link card--full-height">
        <div class="image-aspect card__image">
          <img
            src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/w5nfrr-2865945.jpg/ALTERNATES/LANDSCAPE_768/2865945.jpg"
            alt="Test"
            class="image-aspect__img">
        </div>
        <div class="card__content">
          <div class="article-teaser">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <div class="category category--culture article-teaser__category">Kultur</div>
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">21.03.2018</div>
              </div>
              <h3 class="article-teaser__title">
                Tidigt lastbil från USA gick i Ånimskog
              </h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <a href="#" class="card card--link card--full-height">
        <div class="image-aspect card__image">
          <img
            src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/7xvccl-2826216.jpg/ALTERNATES/LANDSCAPE_1140/2826216.jpg"
            alt="Test"
            class="image-aspect__img">
        </div>
        <div class="card__content">
          <div class="article-teaser">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <div class="category category--main article-teaser__category">VARMLAND</div>
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">21.03.2018</div>
              </div>
              <h3 class="article-teaser__title">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="clear-list clear-list--space-2">
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-md-6">
      <div class="ad-container ad-container--w468 ad-container--h360 ad-container--right">
        <div class="ad-container__inner">
          <div class="ad-container__label">ANNONS:</div>
          <img class="ad-container__ad" src="https://www.placehold.it/468x360" alt="ad banner">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-none d-md-block col-12 mb-2">
      <div class="ad-container ad-container--w980 ad-container--h60 ad-container--left">
        <div class="ad-container__inner">
          <div class="ad-container__label">ANNONS:</div>
          <img class="ad-container__ad" src="https://www.placehold.it/980x60" alt="ad banner">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <a href="#" class="card card--link">
        <div class="image-aspect card__image">
          <img
            src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/8cxja5-2862198.jpg/ALTERNATES/LANDSCAPE_1140/2862198.jpg"
            alt="Test"
            class="image-aspect__img">
        </div>
        <div class="card__content">
          <div class="article-teaser">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <div class="category category--fun article-teaser__category">Nöje</div>
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">31.02.2018</div>
              </div>
              <h3 class="article-teaser__title">
                Karlskoganazister störde möte
              </h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="d-none d-md-block col-md-6">
      <div class="ad-container ad-container--w468 ad-container--h360 ad-container--right">
        <div class="ad-container__inner">
          <div class="ad-container__label">ANNONS:</div>
          <img class="ad-container__ad" src="https://www.placehold.it/468x360" alt="ad banner">
        </div>
      </div>
    </div>
  </div>

  <div class="row flex-wrap-reverse">
    <div class="col-md-6 mb-2">
      <div class="clear-list clear-list--space-2">
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="clear-list__item">
          <a href="#" class="card card--link">
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon"><use  xlink:href="#clock"></use></svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter – fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-12 col-sm-6 mb-2">
          <a href="#" class="card card--link card--full-height">
            <div class="image-aspect card__image">
              <img
                src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/he3ygd-2865513.jpg/ALTERNATES/LANDSCAPE_1140/2865513.jpg"
                alt="Test"
                class="image-aspect__img">
            </div>
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="category category--main article-teaser__category">VARMLAND</div>
                    <svg class="icon icon--block article-teaser__date-icon">
                      <use xlink:href="#clock"></use>
                    </svg>
                    <div class="article-teaser__date">6h</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Advokaten om nya uppgiften i Kevinutredningen
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-6 mb-2">
          <a href="#" class="card card--link card--full-height">
            <div class="image-aspect card__image">
              <img
                src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/2ibw1q-2865617.jpg/ALTERNATES/LANDSCAPE_1140/2865617.jpg"
                alt="Test"
                class="image-aspect__img">
            </div>
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="category category--sport article-teaser__category">SPORT</div>
                    <svg class="icon icon--block article-teaser__date-icon">
                      <use xlink:href="#clock"></use>
                    </svg>
                    <div class="article-teaser__date">6h</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Karlstad IBF 400 000 back – elitlicens i fara
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 mb-2">
          <a href="#" class="card card--link card--full-height">
            <div class="image-aspect card__image">
              <img
                src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/he3ygd-2865513.jpg/ALTERNATES/LANDSCAPE_1140/2865513.jpg"
                alt="Test"
                class="image-aspect__img">
            </div>
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="category category--main article-teaser__category">VARMLAND</div>
                    <svg class="icon icon--block article-teaser__date-icon">
                      <use xlink:href="#clock"></use>
                    </svg>
                    <div class="article-teaser__date">6h</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Advokaten om nya uppgiften i Kevinutredningen
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-6 mb-2">
          <a href="#" class="card card--link card--full-height">
            <div class="image-aspect card__image">
              <img
                src="https://d1jj1vz90h0rrc.cloudfront.net/inkommande/2ibw1q-2865617.jpg/ALTERNATES/LANDSCAPE_1140/2865617.jpg"
                alt="Test"
                class="image-aspect__img">
            </div>
            <div class="card__content">
              <div class="article-teaser">
                <div class="article-teaser__header">
                  <div class="article-teaser__meta">
                    <div class="category category--sport article-teaser__category">SPORT</div>
                    <svg class="icon icon--block article-teaser__date-icon">
                      <use xlink:href="#clock"></use>
                    </svg>
                    <div class="article-teaser__date">6h</div>
                  </div>
                  <h3 class="article-teaser__title">
                    Karlstad IBF 400 000 back – elitlicens i fara
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
  <div class="side-column">
    <img src="https://www.placehold.it/160x600" alt="" style="display: block" class="mb-2">
    <img src="https://www.placehold.it/160x600" alt="" style="display: block" class="mb-2">
  </div>
</div>


{{> components/footer }}
{{> layout/foot }}
