{{> layout/head }}
{{> components/header }}

<div class="site-content">
  <main class="container news-list">

    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--left">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-7 col-md-8">

        <div class="news-list__header">
          <h1 class="news-list__title">News list</h1>
          <span class="news-list__range">FRE 4 MAJ |  VECKA 18</span>
        </div>
        <div class="news-list__body">

          <h2>11:00</h2>

          <ul class="news-list__section">
            <li class="news-list__item category--culture">
              <a href="" class="news-list__link">Filmade personal på akuten</a>
              <span class="category category__text">category</span>
              <span class="time">
                <svg class="icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <time>11:50</time>
              </span>
            </li>
            <li class="news-list__item category--culture">
              <a href="" class="news-list__link">Filmade personal på akuten</a>
              <span class="category category__text">category</span>
              <span class="time">
                <svg class="icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <time>11:50</time>
              </span>
            </li>
            <li class="news-list__item category--culture">
              <a href="" class="news-list__link">Filmade personal på akuten</a>
              <span class="category category__text">category</span>
              <span class="time">
                <svg class="icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <time>11:50</time>
              </span>
            </li>

            <li class="news-list__item category--nyheter">
              <a href="" class="news-list__link">Det blev svårt redan tidigt</a>
              <span class="category category__text">category</span>
              <span class="time">
                <svg class="icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <time>40min</time>
              </span>
            </li>
            <li class="news-list__item category--sport">
              <a href="" class="news-list__link">Kanin påkörd av lastbil -- överlevde inte</a>
              <span class="category category__text">BROTT & BLÅLJUS</span>
              <span class="time">
                <svg class="icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <time>2h</time>
              </span>
            </li>
            <li class="news-list__item category--culture">
              <a href="" class="news-list__link">Filmade personal på akuten</a>
              <span class="category category__text">NÖJE/KULTUR</span>
              <span class="time">
                <svg class="icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <time>46min</time>
              </span>
            </li>
          </ul>

          <div class="news-list__button">
            <a href="#" class="button button--primary">
              <span class="button__inner">
                <span class="button__text">visa fler</span>
              </span>
            </a>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-4">
        <div class="mb-6">
          <div class="ad-container ad-container--w250 ad-container--h480 ad-container--right">
            <div class="ad-container__inner">
              <img class="ad-container__ad" src="https://www.placehold.it/250x360" alt="ad banner">
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-12">
      <img src="https://placehold.it/980x240" alt="">
    </div>
  </div>
  </main>
</div>

{{> components/footer }}
{{> layout/foot }}

