{{> layout/head }}
{{> components/header }}
<div class="site-content">
  <div class="container page-search">
    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--left">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-7 col-md-8">
        <div class="page-search__header">
          <h1 class="page-search__title">SÖK</h1>
        </div>

        <div class="input input--search input--has-icon">
          <div class="input__inner">
            <label class="input__label" for="inputId2">Fyll i sökord…</label>
            <input class="input__field" id="inputId2" type="text">
            <button type="submit" class="button input__icon pt-0 pb-0">
              <svg class="icon icon--block">
                <use xlink:href="#search"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="page-search__filters">
          <nav class="pagination">
            <div class="pagination__text">Showing: 1-10 of 50</div>
          </nav>
          <div class="sort">
            <div class="sort__label">Sort by:</div>
            <a href="#" class="sort__control">
              <div class="sort__field">Date</div>
              <svg class="icon sort__icon">
                <use xlink:href="#menu-down"></use>
              </svg>
            </a>
          </div>
        </div>

        <ul class="articles-list">
          <li class="articles-list__element reveal">
            <a href="#" class="articles-list__link">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <!-- thumb - if there is one, condition in twig/template -->
                  <div class="article-teaser__thumb">
                    <div class="image-aspect">
                      <img src="https://www.placehold.it/90x90" alt="Test" class="image-aspect__img">
                    </div>
                  </div>
                  <!-- /thumb -->
                </div>
                <div class="article-teaser__text">
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                </div>
              </div>
            </a>
          </li>


          <li class="articles-list__element reveal">
            <a href="#" class="articles-list__link">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
                <div class="article-teaser__text">
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"

                </div>
              </div>
            </a>
          </li>

          <li class="articles-list__element reveal">
            <a href="#" class="articles-list__link">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--sport article-teaser__category">Sport</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                    Seger för lag Edin i öppningsmatchen
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
                <div class="article-teaser__text">
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"

                </div>
              </div>
            </a>
          </li>

          <li class="articles-list__element reveal">
            <a href="#" class="articles-list__link">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <!-- no thumb related -->
                </div>
                <div class="article-teaser__text">
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"

                </div>
              </div>
            </a>
          </li>

          <li class="articles-list__element reveal">
            <a href="#" class="articles-list__link">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--fun article-teaser__category">Nöje</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                  <div class="article-teaser__thumb">
                    <img src="https://www.placehold.it/90x90" alt="Test">
                  </div>
                </div>
                <div class="article-teaser__text">
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"

                </div>
              </div>
            </a>
          </li>

          <li class="articles-list__element reveal">
            <a href="#" class="articles-list__link">
              <div class="article-teaser">
                <div class="article-teaser__row">
                  <div class="article-teaser__header">
                    <div class="article-teaser__meta">
                      <div class="category category--culture article-teaser__category">Kultur</div>
                      <svg class="icon icon--block article-teaser__date-icon">
                        <use xlink:href="#clock"></use>
                      </svg>
                      <div class="article-teaser__date">1h</div>
                    </div>
                    <h3 class="article-teaser__title">
                      Körde 50 meter fast för rattfylleri
                    </h3>
                  </div>
                </div>
                <div class="article-teaser__text">
                  Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"

                </div>
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-12 col-sm-5 col-md-4">
        <div class="mb-6">
          <div class="ad-container ad-container--w250 ad-container--h480 ad-container--right">
            <div class="ad-container__inner">
              <img class="ad-container__ad" src="https://www.placehold.it/250x480" alt="ad banner">
            </div>
          </div>
        </div>
        <div>
          <div class="ad-container ad-container--w250 ad-container--h480 ad-container--right">
            <div class="ad-container__inner">
              <img class="ad-container__ad" src="https://www.placehold.it/250x480" alt="ad banner">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> components/footer }}
{{> layout/foot }}
