<div>
  {{> components/article-full }}

  <!-- Ads start -->
  <div class="d-none d-xl-block">
    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--left">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>
  </div>
  <!-- Ads end -->
</div>
