{{> layout/head }} 
{{> components/header }}

<div class="site-content">
  <main class="container page-static">

    <div class="ad-container ad-container--w980 ad-container--h240 ad-container--left">
      <div class="ad-container__inner">
        <img class="ad-container__ad" src="http://www.placehold.it/980x240" alt="ad banner">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-7 col-md-8">
        <div class="page-static__header">
          <h1 class="page-static__title">Static info page</h1>
        </div>
        <div class="page-static__body">
          <p>
            Med formuläret kan du skicka in tips till Värmlands Folkblad.  
          </p>
          <p>
            Har du bilder som du vill skicka oss kan du mejla till redaktion@vf.se
          </p>
          <p>
            Du kan även ringa in till 054-17 55 40, eller skicka ett SMS till 072-24 66 600 med ditt tips.
            Du kan även ringa in till 054-17 55 40, eller skicka ett SMS till 072-24 66 600 med ditt tips.
            Du kan även ringa in till 054-17 55 40, eller skicka ett SMS till 072-24 66 600 med ditt tips.
            Du kan även ringa in till 054-17 55 40, eller skicka ett SMS till 072-24 66 600 med ditt tips.
            Du kan även ringa in till 054-17 55 40, eller skicka ett SMS till 072-24 66 600 med ditt tips.

          </p>
          <p>
            Med formuläret kan du skicka in tips till Värmlands Folkblad.  
          </p>
          <p>
            Har du bilder som du vill skicka oss kan du mejla till redaktion@vf.se
          </p>


          {{> components/wp-forms }}
          
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-4">
        <div class="mb-6">
          <div class="ad-container ad-container--w250 ad-container--h480 ad-container--right">
            <div class="ad-container__inner">
              <img class="ad-container__ad" src="http://www.placehold.it/250x360" alt="ad banner">
            </div>
          </div>
        </div>
      </div>
    </div>

  {{> components/matchad }}

  <div class="row">
    <div class="col-12">
      <img src="http://placehold.it/980x240" alt="">
    </div>
  </div>
  </main>
</div>

{{> components/footer }} 
{{> layout/foot }}

