{{> layout/head }}
{{> components/header }}
<div class="site-content">
  <main class="container">
    <div class="d-none d-xl-block">
      <div class="ad-container ad-container--w980 ad-container--h240 ad-container--center">
        <div class="ad-container__inner">
          <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-1">
        <div class="caption">
          TAGGAD I:
        </div>
      </div>
      <div class="col-12 col-sm-7 col-md-7">
        <div class="mb-3">
          <h1 class="text-lead font-weight-bold">KARLSTAD</h1>
        </div>

        <div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
          <div class="reveal mb-4">
            <a class="card card--link" href="#">
              <div class="card__content">
                {{> components/teasers/teaser-list-element }}
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-4">
        <div class="ad-container ad-container--w250 ad-container--h480 ad-container--right">
          <div class="ad-container__inner">
            <img class="ad-container__ad" src="https://www.placehold.it/250x480" alt="ad banner">
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-xl-block">
      <div class="ad-container ad-container--w980 ad-container--h240 ad-container--center">
        <div class="ad-container__inner">
          <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
        </div>
      </div>
    </div>

    <div class="d-none d-xl-block">
      <div class="ad-container ad-container--w980 ad-container--h240 ad-container--center">
        <div class="ad-container__inner">
          <img class="ad-container__ad" src="https://www.placehold.it/980x240" alt="ad banner">
        </div>
      </div>
    </div>
  </main>
</div>
</div>


{{> components/footer }}
{{> layout/foot }}
