<div class="latest-box card">
  <div class="latest-box__header">
    <h2 class="latest-box__title">SENASTE NYTT</h2>
  </div>
  <div class="latest-box__content">
    <ul class="articles-list">
      <li class="articles-list__element">
        <a href="#" class="articles-list__link">
          <div class="article-teaser article-teaser--line">
            <div class="article-teaser__badge">
              <div class="badge badge--block badge--small">
                <div class="badge__text">Plus</div>
              </div>
            </div>
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">1h</div>
              </div>
              <h3 class="article-teaser__title font-weight-normal text-small">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>
      </li>
      <li class="articles-list__element">
        <a href="#" class="articles-list__link">
          <!-- Logged in version -->
          <div class="article-teaser article-teaser--line">
            <div class="article-teaser__badge">
              <div class="badge badge--no-bg badge--block badge--small ml-1">
                <svg class="icon icon--color icon--block">
                  <use xlink:href="#account-outline"></use>
                </svg>
              </div>
            </div>

            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">1h</div>
              </div>
              <h3 class="article-teaser__title font-weight-normal text-small">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>
      </li>
      <li class="articles-list__element">
        <a href="#" class="articles-list__link">
          <div class="article-teaser article-teaser--line">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">1h</div>
              </div>
              <h3 class="article-teaser__title font-weight-normal text-small">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>
      </li>
      <li class="articles-list__element">
        <a href="#" class="articles-list__link">
          <div class="article-teaser article-teaser--line">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">1h</div>
              </div>
              <h3 class="article-teaser__title font-weight-normal text-small">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>
      </li>
      <li class="articles-list__element">
        <a href="#" class="articles-list__link">
          <div class="article-teaser article-teaser--line">
            <div class="article-teaser__header">
              <div class="article-teaser__meta">
                <svg class="icon icon--block article-teaser__date-icon">
                  <use xlink:href="#clock"></use>
                </svg>
                <div class="article-teaser__date">1h</div>
              </div>
              <h3 class="article-teaser__title font-weight-normal text-small">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="latest-box__footer">
    <a href="#" class="latest-box__more">
      Lorem ipsum
      <svg class="icon">
        <use xlink:href="#arr-right"></use>
      </svg>
    </a>
  </div>
</div>
