<a href="#" class="back-top-top js-back-to-top" aria-label="Back to top">
  <svg class="back-top-top__arrow icon" aria-hidden="true">
    <use xlink:href="#arrow-full"></use>
  </svg>
</a>
<div class="footer js-footer">
  <div class="footer__outer">
    <div class="footer__content js-footer-content">
      <h2 class="sr-only">nwt.se</h2>
      <div class="footer__header">
        <div class="container">
          <div class="footer__header-inner">
            <div class="footer__logo">
              <svg class="icon logo logo--large">
                <use xlink:href="#logo-vf"></use>
              </svg>
            </div>
            <div class="footer__logo footer__logo--desktop">
              <svg class="icon logo logo--footer">
                <use xlink:href="#logo-small-vf"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="mb-4">
          <h2>Lorem ipsum</h2>
        </div>

        <p>Kundservice hj채lper dig med fr책gor om Sundsvalls Tidning</p>
        <p>Om ST</p>
      </div>
      <div class="footer__section footer__footer">
        <div class="container">
          <div class="footer__footer-inner">
            <div class="footer__copyrights">
              <div class="footer__footer-item">Copyright 1995-2018</div>
              <div class="footer__footer-item">nwt.se 채r en del av NWT-koncernen</div>
            </div>
            <div class="footer__links">
              <div class="footer__footer-item"><a href="#">Allm채nna villkor</a></div>
              <div class="footer__footer-item"><a href="#">Cookies</a></div>
              <div class="footer__footer-item"><a href="#">Personuppgiftspolicy</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
