<header class="header js-header">
  <div class="header__inner">
    <div class="header__top">
      <div class="container">
        <div class="header__elements">
          <div class="header__element d-flex align-items-center">
            <a href="/" class="header__link">
              <div class="header__logo">
                <svg class="icon logo logo--mobile">
                  <use xlink:href="#logo-mobile-vf"></use>
                </svg>
              </div>

              <div class="header__logo header__logo--desktop">
                <svg class="icon logo logo--large logo--dark">
                  <use xlink:href="#logo-vf"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="header__element">
            <div class="inline-list inline-list--space-1">
              <div class="inline-list__item">
                <button class="button button--primary">
                  <span class="button__inner text-caption font-weight-bold text-uppercase">
                    <svg class="icon mr-sm-1" aria-hidden="true">
                      <use xlink:href="#account-outline"></use>
                    </svg>
                    <span class="d-none d-sm-inline">
                      Logga in
                    </span>

                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_navigation">
      <div class="progress progress--slim progress--nav" aria-hidden="true">
        <div class="progress__completed js-progress-indicator" data-progress-nav="true"></div>
      </div>
      <nav class="navigation">
        <div class="container">
          <div class="navigation__inner">
          <ul class="navigation__list">
            <li class="navigation__element active">
              <a href="#" class="navigation__link">Bli kund</a>
            </li>
            <li class="navigation__element">
              <a href="#" class="navigation__link">Min prenumeration</a>
            </li>
            <li class="navigation__element">
              <a href="#" class="navigation__link">E-tidningen</a>
            </li>
            <li class="navigation__element">
              <a href="#" class="navigation__link">Plus</a>
            </li>
            <li class="navigation__element">
              <a href="#" class="navigation__link">Läsarshoppen</a>
            </li>
            <li class="navigation__element">
              <a href="#" class="navigation__link">Annonsera</a>
            </li>
            <li class="navigation__element">
              <a href="#" class="navigation__link">Frågor och svar</a>
            </li>
            <li class="navigation__element">
              <a href="#" class="navigation__link">Kontakta</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>
    </div>
  </div>
</header>
