<div class="row">
  <div class="col-sm-6 col-lg-8">
    <div class="group mb-5">
      <div class="group__element">
        {{> components/teasers/teaser-main }}
      </div>
      <div class="group__element">
        {{> components/teasers/teaser-main-plus }}
      </div>
      <div class="group__element">
        {{> components/teasers/teaser-author }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="group">
          <div class="group__element">
            {{> components/teasers/teaser }}
          </div>

          <div class="group__element">
            {{> components/teasers/teaser-no-image }}
          </div>

          <div class="group__element">
            {{> components/teasers/teaser-thumb}}
          </div>

          <div class="group__element">
            {{> components/teasers/teaser-annons }}
          </div>
          
          <div class="group__element">
            {{> components/teasers/teaser-vignette }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="group">
          <div class="group__element">
            {{> components/teasers/teaser-plus }}
          </div>

          <div class="group__element">
            {{> components/teasers/teaser-no-image-plus }}
          </div>

          <div class="group__element">
            {{> components/teasers/teaser-thumb-plus }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    {{> components/teasers/teaser-list-element }}
  </div>
</div>
<br>
<div class="row">
  <div class="col-6">
    {{> components/teasers/teaser-thumb}}
  </div>
</div>