<a href="#" class="card card--link">
  <div class="card__content">
    <div class="badge card__badge card__badge--lower">
      <span class="badge__text">Plus</span>
    </div>
    <div class="article-teaser">
      <h3 class="article-teaser__title">
        Körde 50 meter – fast för rattfylleri
      </h3>
    </div>
  </div>
</a>
