<a href="#" class="card card--link card--overlay">
  <div class="image-aspect card__image">
    <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
  </div>
  <div class="card__content card__content--category">
    <div class="badge card__badge card__badge--above">
      <span class="badge__text">Plus</span>
    </div>
    <div class="card__category-bar" aria-label="category name"></div>
    <div class="article-teaser article-teaser--large">
      <h3 class="article-teaser__title">
        Körde 50 meter – fast för rattfylleri
      </h3>
    </div>
  </div>
</a>

<!-- Logged in version -->
<a href="#" class="card card--link card--overlay">
  <div class="image-aspect card__image">
    <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
  </div>
  <div class="card__content card__content--category">
    <div class="badge badge--icon card__badge card__badge--above">
      <svg class="icon icon--block">
        <use xlink:href="#account-outline"></use>
      </svg>
      <div class="tooltip tooltip--top tooltip--badge">
        <div class="tooltip__content">
          Glad to see you
        </div>
      </div>
    </div>
    <div class="card__category-bar" aria-label="category name"></div>
    <div class="article-teaser article-teaser--large">
      <h3 class="article-teaser__title">
        Körde 50 meter – fast för rattfylleri
      </h3>
    </div>
  </div>
</a>
