<div class="article-teaser article-teaser--list-element">
  <div class="article-teaser__row">
    <div class="article-teaser__header">
      <div class="article-teaser__meta">
        <div class="category category--culture article-teaser__category">Kultur</div>
        <svg class="icon icon--block article-teaser__date-icon">
          <use xlink:href="#clock"></use>
        </svg>
        <div class="article-teaser__date">1h</div>
      </div>
      <h3 class="article-teaser__title">
        Körde 50 meter – fast för rattfylleri
      </h3>
    </div>
  </div>

  <div class="article-teaser__text">
    Stängningen av Våxnäshallen fortsätter – "Vi pratar om veckor"
  </div>
</div>
