<a href="#" class="card category--culture card--link">
  <div class="article-teaser article-teaser--with-thumb">

      <div class="article-teaser__row">
        <div class="article-teaser__info">

          <div class="article-teaser__header category__bar">
            <h3 class="article-teaser__title">
              Körde 50 meter – fast för rattfylleri
            </h3>
          </div>
          <div class="category__text">
            sport
          </div>
        </div>
        <div class="article-teaser__thumb">
          <div class="image-aspect">
            <img src="http://www.placehold.it/216x122" alt="Test" class="image-aspect__img">
          </div>
        </div>
      </div>

  </div>
</a>
