<a href="#" class="card card--advert card--link">
  <div class="image-aspect card__image">
    <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
  </div>
  <div class="card__content card__content--category">
    <div class="card__caption">
      Annons
    </div>
    <div class="article-teaser">
        <h3 class="article-teaser__title">
          Körde 50 meter – fast för rattfylleri
        </h3>
    </div>
  </div>
</a>
