<div class="card">
  <div class="card__content">
    <div class="author-line">
      <div class="author-line__row">
        <a href="#" class="author-line__thumb">
          <div class="image-aspect image-aspect--1x1">
            <img src="https://www.placehold.it/90x90" alt="Test" class="image-aspect__img">
          </div>
        </a>
        <div class="author-line__content">
          <h2 class="author-line__title">
            <a href="#">Magnus Östlund Mörk</a>
          </h2>

          <div class="author-line__text">
            Reporter Nya Kristinehamns-Posten
          </div>

          <ul class="author-line__contact text-small">
            <li class="author-line__contact-item">
              <a href="mailto:magnus.ostlund@nwt.se">magnus.ostlund@nwt.se</a>
            </li>
            <li class="author-line__contact-item">
              <a href="tel:054-19 98 28">054-19 98 28</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
