<a href="#" class="card card--link">
  <div class="card__content">
    <div class="badge card__badge card__badge--lower">
      <span class="badge__text">Plus</span>
    </div>
    <div class="article-teaser">
      <div class="article-teaser__row">
        <div class="article-teaser__header">
          <h3 class="article-teaser__title">
            Körde 50 meter – fast för rattfylleri
          </h3>
        </div>
        <div class="article-teaser__thumb">
          <div class="image-aspect">
            <img src="http://www.placehold.it/90x90" alt="Test" class="image-aspect__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<!-- Logged in version -->
<a href="#" class="card card--link">
  <div class="card__content">
    <div class="badge badge--icon card__badge card__badge--lower">
      <svg class="icon icon--block">
        <use xlink:href="#account-outline"></use>
      </svg>

      <div class="tooltip tooltip--top tooltip--badge">
        <div class="tooltip__content">
          Glad to see you
        </div>
      </div>

    </div>
    <div class="article-teaser">
      <div class="article-teaser__row">
        <div class="article-teaser__header">
          <h3 class="article-teaser__title">
            Körde 50 meter – fast för rattfylleri
          </h3>
        </div>
        <div class="article-teaser__thumb">
          <div class="image-aspect">
            <img src="http://www.placehold.it/90x90" alt="Test" class="image-aspect__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
