{{> layout/nav }}
{{> components/scroll-indication }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<script>var isAdblock = true;</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<script src="./js/ads.js"></script>
<script src="./js/app.js"></script>

</body>

</html>
