<!doctype html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="msapplication-tap-highlight" content="no" />
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700%7CRoboto+Slab&amp;subset=latin-ext" rel="prefetch stylesheet">
  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css"/>
  <link href="/css/style.css" rel="stylesheet prefetch">
  <!--<link rel="stylesheet" href="https://vf.stage.nwt.infomaker.io/wp-content/plugins/wpforms-lite/assets/css/wpforms-full.css">-->

  <link rel="icon" href="/images/favicons/vf/favicon-192x192.png" sizes="192x192" />
  <link rel="icon" href="/images/favicons/vf/favicon-32x32.png" sizes="32x32" />
  <link rel="apple-touch-icon-precomposed" href="/images/favicons/vf/apple-touch-icon.png" />
  <meta name="msapplication-TileImage" content="/images/favicons/vf/mstile-150x150.png" />

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '2188333121489839',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.1'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body class="docs site-vf">
<div class="js-svg-sprite" hidden data-url="/images/icons.svg"></div>
