<div class="docs-nav">
  <label for="docs-navigation" class="docs-nav__trigger">
    Toggle navigation
  </label>

  <input type="checkbox" id="docs-navigation" class="docs-nav__input" tabindex="-1">

  <div class="docs-nav__content">
    <div class="docs-nav__header">
      <h2 class="h3 docs-nav__title">
        Menu
      </h2>

      <label for="docs-navigation" class="docs-nav__trigger docs-nav__trigger--inner">
        X
      </label>
    </div>

    <ul class="docs-nav__list">
      <li class="docs-nav__item">
        <a href="/" class="docs-nav__link">index</a>
        <ul class="docs-nav__list">
          <li class="docs-nav__item">
            <a href="/#colors" class="docs-nav__link">Colors</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#typography" class="docs-nav__link">Typography</a>
            <ul class="docs-nav__list">
              <li class="docs-nav__item">
                <a href="/#typography-sans-regular" class="docs-nav__link">Sans regular</a>
              </li>
              <li class="docs-nav__item">
                <a href="/#typography-sans-bold" class="docs-nav__link">Sans bold</a>
              </li>
              <li class="docs-nav__item">
                <a href="/#typography-serif" class="docs-nav__link">Serif</a>
              </li>
              <li class="docs-nav__item">
                <a href="/#typography-preview" class="docs-nav__link">Preview</a>
              </li>
            </ul>
          </li>
          <li class="docs-nav__item">
            <a href="/#icons" class="docs-nav__link">Icons</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#inputs" class="docs-nav__link">Inputs</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#buttons" class="docs-nav__link">Buttons</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#images" class="docs-nav__link">Images</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#cards" class="docs-nav__link">Cards</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#tables" class="docs-nav__link">Tables</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#breadcrumb" class="docs-nav__link">Breadcrumb</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#pagination" class="docs-nav__link">Pagination</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#latest-box" class="docs-nav__link">Latest Box</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#loader" class="docs-nav__link">Loader</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#progress" class="docs-nav__link">Progress</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#sort" class="docs-nav__link">Sort</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#tooltip" class="docs-nav__link">Tooltip</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#rating" class="docs-nav__link">Rating</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#accordion" class="docs-nav__link">Accordion</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#weather" class="docs-nav__link">Weather</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#gallery" class="docs-nav__link">Gallery</a>
          </li>
          <li class="docs-nav__item">
            <a href="/#popular" class="docs-nav__link">Popular</a>
          </li>

        </ul>
      </li>
      <li class="docs-nav__item">
        <a href="/article.html" class="docs-nav__link">Simple article preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/article-sponsored.html" class="docs-nav__link">Sponsored article preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/gallery.html" class="docs-nav__link">Gallery article page preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/author.html" class="docs-nav__link">Author page preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/ads.html" class="docs-nav__link">Ads preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/ad-bundling.html" class="docs-nav__link">Ads bundling preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/ad-bundling-single.html" class="docs-nav__link">Ads bundling single </a>
      </li>
      <li class="docs-nav__item">
        <a href="/tag.html" class="docs-nav__link">Tag page preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/story-tag.html" class="docs-nav__link">Story tag page preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/news-list.html" class="docs-nav__link">News list preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/static.html" class="docs-nav__link">Static info page preview</a>
      </li>
      <li class="docs-nav__item">
        <a href="/main.html" class="docs-nav__link">Main page preview</a>
      </li>
    </ul>
  </div>
</div>
