.adblocker {
  @include elevation("popup");
  max-width: 890px;
  margin: 0 auto;
  margin-top: 10%;
  background: $color-white;
  padding-bottom: size(9);

  &__close {
    text-align: right;
    .button {
      padding: 0;
      margin: size(2);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px; // for lower width sizes
  }

  &__text {
    max-width: 390px;
    h1 {
      @include font("hero");
      margin-bottom: size(3);
    }
    h2 {
      @include font("h3");
      margin-bottom: size(3);
    }
    p {
      @include font("small");
      margin-bottom: 0;
    }

    .button {
      margin-bottom: size(2);
      width: 250px;
    }
  }

  &__icon {
    padding-left: 90px;
    .icon {
      width: 195px;
      height: 195px;
      fill: get-theme-color($currentTheme, "main");
    }
  }
}
