.alert {
  @include font("small");

  width: 100%;
  background-color: $color-red-violet;
  color: $color-white;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: size(8);
  }

  &__content {
    width: 100%;
    flex: 1 1 auto;
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }

  &__side {
    flex: 0 0 auto;
  }
}
