.author {
  margin-bottom: size(3);
  @include respond-to('small-max') {
    display: flex;
    border-top: 1px solid get-theme-color($currentTheme, "shade");
    border-bottom: 1px solid get-theme-color($currentTheme, "shade");
    margin-left: #{-1 * size(2)};
    margin-right: #{-1 * size(2)};
    padding: size(2);
  }

  &__image {
    display: block;
    margin-right: size(2);

    @include respond-to('small') {
      margin-right: 0;
      margin-bottom: size(2);
    }
  }

  &__name {
    @include font("caption");

    display: block;
    margin-bottom: size(2);
  }

  &__info-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  &__info {
    @include font("caption");

    & + & {
      margin-top: size(0.5);
    }
  }
}
