.author-line {
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__thumb {
    display: block;
    flex: 0 0 auto;
    margin-right: size(3);
    width: 130px;
  }

  &__content {
    flex: 1 1 auto;
    width: 100%;
  }

  &__title {
    @include font("h4");

    font-weight: bold;
    margin-bottom: size(1);

    a {
      color: $color-gray-dark;

      &:hover,
      &:focus,
      &:active {
        color: $color-gray-dark;
        text-decoration: underline;
      }
    }
  }

  &__text {
    margin-bottom: size(1);
  }

  &__contact {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
