.author-full {
  margin-bottom: size(7);

  &__info {
    display: flex;
  }

  &__picture {
    max-width: 25%;
  }

  &__data {
    @include font("small");

    padding: 0 size(2);
    margin-bottom: size(8);
  }

  &__header {
    margin-bottom: size(2);
  }

  &__title {
    @include font("h2");

    font-weight: bold;
  }

  &__about {
    margin-bottom: size(2);
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(1);
    flex-wrap: wrap;

    @include respond-to('medium') {
      flex-wrap: nowrap;
    }
  }

  &__social {
    margin-bottom: size(1);
    margin-top: size(1);
  }
}
