.author-card-horizontal {
  &__picture {
    text-align: center;
  }
  &__name {
    @include font("paragraph");
    font-weight: bold;
    text-transform: uppercase;
  }
  &__description {
    @include font("small");
  }
  &__info {
    padding: size(2);
  }
}