.author-card {
  display: flex;
  &__info {
    width: 100%;
    padding: size(2);
  }
  &__name {
    @include font("small");
    text-transform: uppercase;
    margin-bottom: size(1);
  }
  &__description {
    @include font("paragraph");
    font-weight: bold;
    margin-bottom: 0;
  }
  &__picture {
    min-width: size(8);
    img {
      display: block;
    }
  }
}