.badge {
  $root: &;
  display: inline-block;
  padding: size(0.25) size(1);
  background-color: get-theme-color($currentTheme, "main");
  color: $color-white;

  &--block {
    display: block
  }

  &--small {
    padding: 0 size(0.25);

    #{$root}__text {
      @include font("tiny")
    }
  }

  &__text {
    @include font("caption");

    text-transform: uppercase;
    display: block;
    font-weight: 700;
  }
  &--no-bg {
    background: transparent;
  }
  &--icon {
    padding: 2px;
    &:hover {
      .tooltip--badge {
        opacity: 1;
      }
    }
  }
    .icon {
      width: size(2);
      height: size(2);
      fill: $color-white;
    }
    .icon--color {
      fill: get-theme-color($currentTheme, "main");
    }
}
