.breadcrumb {
  &__list {
    @include font("caption");

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 0;
    margin: 0;
    display: block;
    color: get-theme-color($currentTheme, "link");

    &:not(:last-child) {
      color: $color-cool-grey-two;

      &::after {
        display: inline-block;
        vertical-align: middle;
        padding: 0 size(1);
        content: "/";
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
  }
}
