/**
  Button is generic interaction element.
  Blocks:
    * button - defines click space for button

  Elements:
    * inner - defines visible part of button ie. border, background color
    * text - defines text properties of given button

  Modifiers on blocks:
    * primary - defines primary button
    * primary-outline - defines outline version of primary button
    * secondary - defines secondary button
    * secondary-outline - defines outline version of primary button

  Example (in emmet):
    #1 - Empty clickable space
      button.button

    #2 - Default primary button
      button.button.button--primary>.button__inner>.button__text{button text}

    #3 - Outline primary button
      button.button.button--primary-outline>.button__inner>.button__text{button text}
 */


@mixin button-variant($name, $color) {
  &--#{$name} {
    color: $color-white;
    fill: currentColor;

    .button__inner {
      @include elevation("none");

      transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
      background-color: $color;
    }

    .button__text {
      text-transform: uppercase;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-white;
      fill: currentColor;

      .button__inner {
        @include elevation("overlay");
      }
    }

    &:focus,
    &:active {
      outline: none;

      .button__inner {
        background-color: darken($color, 8);
      }
    }
  }

  &--#{$name}-outline {
    transition: color 250ms ease-in-out;
    color: $color;
    fill: currentColor;

    .button__inner {
      transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
      border: 2px solid $color;
      background-color: $color-white;

      @include elevation("none");
    }

    .button__text {
      text-transform: uppercase;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: $color-white;
      fill: currentColor;

      .button__inner {
        @include elevation("overlay");

        background-color: $color;
        fill: currentColor;
      }
    }
  }
}

.button {
  background-color: transparent;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: size(3/4) 0;
  display: inline-block;
  text-decoration: none;
  appearance: none;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: size(1) size(2);
    min-height: 36px;
    min-width: 88px;
  }

  &__text {
    @include font("caption");

    flex: 0 0 auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--block {
    display: block;
  }

  &--none {
    padding: 0;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &--wide {
    width: 100%;
  }

  @include button-variant("primary", get-theme-color($currentTheme, "button-primary"));
  @include button-variant("secondary", get-theme-color($currentTheme, "button-secondary"));

  &__login-text {
    padding-left: size(1);
    @include font("caption");
    text-transform: uppercase;
    color: $color-dark-grey;
    font-weight: bold;

    .tulo-logged-in & {
      display: none;
    }
  }
}
