.category {
  $root: &;

  @each $section, $color in $category-map {
    &--#{$section} {
      #{$root}__text {
        color: get-theme-color($currentTheme, $color);
      }
      #{$root}__bar::before {
        background-color: get-theme-color($currentTheme, $color);
      }
      #{$root}__background {
        background-color: get-theme-color($currentTheme, $color);
      }
    }
  }

  &__text {
    @include font("caption");

    color: get-theme-color($currentTheme, "main");
    text-transform: uppercase;
  }

  &__bar::before {
    content: "";
    display: block;
    width: size(1/2);
    background: get-theme-color($currentTheme, "main");
    height: 100%;
  }
}
