.clear-list {
  $root: &;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: block;
    padding: 0;
    margin: 0;
  }

  @for $size from 1 through 5 {
    &--space-#{$size} {
      #{$root}__item {
        & + #{$root}__item {
          margin-top: size($size);
        }
      }
    }
  }
}
