.figure {
  display: block;

  &__image {
    display: block;
    width: 100%;

    img,
    source {
      display: block;
      width: 100%;
    }
  }

  &__caption {
    padding: size(1) size(2);
    background-color: get-theme-color($currentTheme, "shade");
    color: $color-gray;
    font-size: 12px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__caption-text {
    display: inline-block;
  }

  &__caption-author {
    float: right;
    text-transform: uppercase;
  }
}
