.gallery-pane {

  &__content {
    position: relative;
    height: 100%;
    padding: size(3) size(3) size(12) size(3);
  }

  &__footer {
    position: absolute;
    bottom: size(3);
    padding-top: size(3);
    width: calc(100% - #{size(6)});
    height: size(6);
    border-top: 1px solid get-theme-color($currentTheme, "shade");
  }

  &__share-icon {
    fill: get-theme-color($currentTheme, "shade");

    &:hover,
    &:focus,
    &:active {
      fill: $color-gray-warm;
    }
  }
}
