.gallery {
  $root: &;

  @include respond-to('small') {
    &:hover {
      #{$root}__nav-item {
        transform: scale(1);
      }

      #{$root}__controls {
        transform: translateY(0);
      }

      #{$root}__control {
        max-height: 100%;
      }

      #{$root}__controls-inner {
        transform: scaleY(1);
      }
    }
  }

  &--loading {
    #{$root}__nav-item {
      transform: scale(1);
    }

    #{$root}__controls {
      transform: translateY(0);
    }

    #{$root}__controls-inner {
      transform: scaleY(1);
    }
  }

  &__inner {
    position: relative;
  }

  &__controls {
    @include respond-to('small') {
      transition: transform 300ms ease-in-out;
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;
      transform: translateY(22px);
    }
  }

  &__controls-inner {
    padding: 0 size(2);
    background-color: rgba($color-dark-grey, 0.4);

    @include respond-to('small') {
      transition: transform 300ms ease-in-out;
      background-color: rgba($color-dark-grey, 0.4);
      transform: scaleY(0.4);
      padding-left: size(10);
      padding-right: size(10);
    }
  }

  &__control {
    display: none;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    @include respond-to('small') {
      transition: background-color 250ms ease-in-out, max-height 300ms ease-in-out;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: 100%;
      max-height: size(3);
      background-color: transparent;
      border: 0;

      &:hover,
      &:focus {
        background-color: rgba($color-dark-grey, 0.4);
      }
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
  &__control-icon {
    fill: $color-white;
  }

  &__nav {
    padding: size(1) 0;
  }

  &__nav-item {
    transition: transform 300ms ease-in-out;
    padding: 0;
    flex: 0 0 auto;
    width: 55px;

    @include respond-to('small') {
      transform: scale(0);
    }
  }

  &__nav-link {
    transition: border-color 250ms ease-in-out;
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    border: 1px solid transparent;
    background-color: transparent;

    &:before {
      transition: opacity 250ms ease-in-out;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(#{-1 * size(0.5)});
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 size(0.5) size(1) size(0.5);
      border-color: transparent transparent get-theme-color($currentTheme, "main") transparent;
      opacity: 0;
    }

    .swiper-slide-active & {
      outline: none;
      border: 1px solid get-theme-color($currentTheme, "main");

      &:before {
        opacity: 1;
      }
    }

    @include respond-to('small') {
      &:hover {
        border: 1px solid get-theme-color($currentTheme, "main");
      }
    }
  }

  &__thumb {
    display: block;
    width: 55px;
    height: 55px;
  }

}
