.input {
  $root: &;
  $labelScaleFactor: 11/16;
  $labelRaisedTransform: translateY(-100%) scale($labelScaleFactor);

  display: block;
  padding-top: size(2);

  // Actions
  &--active {
    #{$root}__label {
      color: get-theme-color($currentTheme, "button-secondary");
    }

    #{$root}__icon {
      fill: get-theme-color($currentTheme, "button-secondary");
    }
  }

  &--raised {
    #{$root}__label {
      transform: $labelRaisedTransform;
    }
  }

  // Appearance
  &--has-icon {
    #{$root}__field {
      padding-right: size(3);
      appearance: none;
    }
  }

  &--icon-rotate {
    #{$root}__icon {
      transform: rotate(180deg) translateY(50%);
    }
  }

  &--error {
    #{$root}__label {
      color: $color-error;
    }

    #{$root}__hint {
      color: $color-error;
    }

    #{$root}__icon {
      fill: $color-error;
    }
  }

  &--select {
    #{$root}__label {
      transform: $labelRaisedTransform;
    }
  }

  &--textarea {
    padding: 0;
    #{$root}__inner {
      transition: border-color 300ms ease-in-out;
      padding: size(3) size(1) size(1);
      border: 1px solid $color-cool-grey-two;

      &:hover {
        border-color: $color-dark-grey;
      }
    }

    #{$root}__label {
      transform: translateY(size(1));
      transform-origin: 0 50%;
    }

    #{$root}__field {
      padding: 0;
      border: 0;
      min-height: #{100px - size(4)};
      resize: vertical;
      &:hover {
        border: 0;
      }
    }

    #{$root}__icon {
      top: 0;
      transform: translateY(0);
    }

    &#{$root}--active {
      #{$root}__inner {
        border-color: get-theme-color($currentTheme, "button-secondary");
      }
    }

    &#{$root}--raised {
      #{$root}__label {
        transform: scale($labelScaleFactor);
      }
    }
  }

  &--search {
    #{$root}__field {
      margin-top: size(2);
      margin-bottom: size(2);
    }
  }

  &__inner {
    position: relative;
    margin-bottom: 8px;
  }

  &__label {
    transition: transform 300ms ease-in-out, color 300ms ease-in-out;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    font-size: 16px;
    transform: translateY(-50%) translateY(size(2.5));
    transform-origin: 0 100%;
    pointer-events: none;
    color: $color-gray-dark;
  }

  &__field {
    transition: border-bottom-color 300ms ease-in-out;
    display: block;
    width: 100%;
    padding: size(1) 0;
    min-height: size(5);
    background-color: transparent;
    border-radius: 0;
    color: $color-dark-grey;
    border: 0;
    border-bottom: 1px solid $color-gray-dark;

    &:hover {
      border-bottom: 1px solid get-theme-color($currentTheme, "button-secondary");
    }

    &:active,
    &:focus {
      outline: none;
      border-color: get-theme-color($currentTheme, "button-secondary");
    }
  }

  &__icon {
    transition: fill 300ms ease-in-out, transform 300ms ease-in-out;
    position: absolute;
    top: 50%;
    right: 0;
    width: size(3);
    height: size(3);
    transform: translateY(-50%);
    fill: $color-gray;
    transform-origin: center center;
  }

  &__hint {
    @include font("caption");

    color: $color-cool-grey-two;
  }
}
