.login-box {
    max-width: 260px;
    margin: 0 auto;

    &__link {
      color: $color-cool-grey;
    }

    &__password-link {
        color: $color-cool-grey;
    }

    &__error {
        color: $color-error;
    }
}
