.news-list {

  &__title {
    @include font("h3");
    text-transform: uppercase;
    &::before {
      transition: background-color 250ms ease-in-out;
      display: block;
      width: size(8);
      height: size(1/2);
      bottom: 100%;
      left: 0;
      content: '';
      background-color: get-theme-color($currentTheme, "main");
      transform: translateY(#{-1 * size(1)});
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: size(4);
  }
  &__range {
    @include font("h4");
    font-weight: bold;
    margin-left: size(8);
  }
  h2 {
    @include font("h4");
    font-weight: bold;
    margin-top: size(3);
  }
  &__button {
    text-align: center;
    margin: size(4) 0;
  }
  .news-list__section {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .news-list__item {
    display: flex;
    align-items: center;
    padding: size(2) 0;
    border-bottom: solid 1px $color-pale-grey;
  }
  .news-list__link {
    flex: 1 0 70%;
    color: $color-dark-grey;
    text-decoration: none;
  }
  .category {
    flex: 1 1 30%;
    @include font("small");
  }
  .time {
    @include font("caption");
    color: $color-cool-grey-two;
    fill: $color-cool-grey-two;
    padding-left: size(4);
    display: flex;
    flex: 0 0 auto;
    align-items: center;

    .icon {
      width: 10px;
      height: 10px;
      margin-right: size(1/2);
    }
  }
}