.page-404 {
  margin: 0 auto;
  max-width: 580px;
  min-height: 680px;
  text-align: center;

  &__title {
    @include font("uber");
    margin-bottom: size(10);
    margin-top: size(15);
  }

  &__error {
    color: get-theme-color($currentTheme, "main");
    font-weight: 900;
  }
  &__info {
    @include font("h4");
    margin-bottom: size(8);
    .icon {
      width: size(7);
      height: size(7);
      vertical-align: bottom;

      // paperplane 
      @keyframes paperplane {
        20% {transform: translate(-140px, 40px) rotate(140deg);}
        40% {transform: translate(-130px, 80px) rotate(100deg);}
        50% {transform: translate(-110px, 80px) rotate(50deg);}
        60% {transform: translate(-80px, 70px) rotate(20deg)}
        80% {transform: translate(-40px, 40px) rotate(10deg)}
        100% {transform: translate(0px, 0px) rotate(0deg); opacity: 1; }     
      }
      opacity:0; 
      transform: translate(-100px, -30px) rotate(170deg) scale(0.2);
      animation: paperplane linear 400ms 500ms forwards;

      
    }
  }
  &__links {
    display: inline-block;
    &::before {
      transition: background-color 250ms ease-in-out;
      display: block;
      width: size(8);
      height: size(1/2);
      bottom: 100%;
      left: 0;
      content: '';
      // background-color: get-theme-color($currentTheme, "main");
      background-color: $color-dark-grey;
      transform: translateY(#{-1 * size(1)});
    }
  }
}