.progress {
  $root: &;

  background-color: rgba(get-theme-color($currentTheme, "shade"), 0.5);
  height: size(1);

  &--slim {
    height: 1px;
  }

  &--invert {
    background-color: get-theme-color($currentTheme, "main");

    #{$root}__completed {
      background-color: $color-white;
    }
  }

  &--nav {
    @include respond-to('small-max') {
      #{$root}__completed {
        background-color: $color-white;
      }
    }
  }

  &__completed {
    background-color: get-theme-color($currentTheme, "main");
    transform: scaleX(0);
    transform-origin: left;
    height: 100%;
  }
}
