$transition-time: 400ms;

.reveal {
  transition: transform $transition-time ease-out, opacity $transition-time ease-in-out;
  transform: translateY(0);
  opacity: 1;

  &--not-visible {
    transform: translateY(size(4));
    opacity: 0.25;
  }
}
