.scroll-indication {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: size(8);
  background:  get-theme-color($currentTheme, "main");
  color: $color-white;
  display: block;

  &:hover,
  &:focus,
  &:active {
    color: $color-white;
  }

  &[hidden] {
    display: none;
  }

  .icon {
    fill: $color-white;
  }

  &__content {
    display: flex;
    align-items: center;
    height: size(8);
  }

  &__article-title {
    @include font("small");
    font-weight: 700;
    margin: 0;
  }

  &__info {
    margin-left: size(2);
  }

  &__next {
    @include font("caption");
  }
}
