.ew-section-header {
  $root: &;
  width: 100%;
  padding-top: size(2);
  padding-bottom: size(2);

  @include respond-to('medium') {
    padding-top: size(7);
    padding-bottom: 0;
  }

  &__title {
    @include font("paragraph");

    @include respond-to('medium') {
      display: inline-block;
      position: absolute;
      transform: translateX(-100%) translateX(size(-2));

      .sticked & {
        width: size(20);
        text-align: right;
        background: $color-white;
      }
    }
  }

  &__link {
    color: $color-gray-warm;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
      color: get-theme-color($currentTheme, "main");

      @each $section, $color in $category-map {
        .section-#{$section} & {
          color: get-theme-color($currentTheme, $color);
        }
      }
    }
  }

  &__headline {
    color: $color-gray-warm;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.sticked {
  @include respond-to('small') {
    position: sticky;
    top: size(18);
    transition: top .25s ease-in-out;
    .header-nav-only & {
      top: 0;
    }
  }
}
