.side-column {
  display: none;

  @include respond-to("x-large") {
    $container-size: map-get($container-max-widths, "md");

    min-width: size(20);
    display: block;
    position: absolute;
    top: size(3);
    left: calc( #{$container-size + size(1)} + ( 100vw - #{$container-size} ) / 2 );
  }
}
