.side-nav {
  @include elevation("none");

  transition: transform 400ms ease-in-out, pointer-events 0ms 400ms;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: $color-white;
  transform: translateX(-100%);
  pointer-events: none;

  @include respond-to("medium") {
    display: none;
  }

  &--opened {
    @include elevation("sticky");

    transition: transform 400ms ease-in-out;
    transform: translateX(0);
    pointer-events: all;
  }

  &__header {
    height: size(7);
    flex: 0 0 auto;
    position: relative;
    padding: size() size(2);
    border-bottom: 1px solid $color-gray-pale;
    display: flex;
    align-items: center;
  }

  &__content {
    height: calc(100% - #{size(7)});
    overflow: auto;
  }

  &__close {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    width: size(6);
    height: size(6);

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  &__close-icon {
    position: absolute;
    fill: $color-gray-dark;
    top: 50%;
    left: 50%;
    width: size(3);
    height: size(3);
    transform: translate(-50%, -50%) translateX(#{-1 * size(0.5)});
  }
}
