.site-content {
  position: relative;
  background-color: $color-white;
  padding: size(3) 0 size(12) 0;

  @include respond-to('small') {
    @include elevation("sticky");
    z-index: 3;
    min-height: size(50);

    .lightbox-opened & {
      z-index: 2000;
    }
  }
}
