.sort {
  $root: &;

  @include font("caption");

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &--rotate {
    #{$root}__icon {
      transform: rotate(-180deg);
    }
  }

  &__label {
    margin-right: size(0.5);
    color: $color-cool-grey;
  }

  &__control {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__field {
    color: get-theme-color($currentTheme, "link");
  }

  &__icon {
    transition: transform 250ms ease-in-out;
    display: block;
    width: size(3);
    height: size(3);
    transform: rotate(0);
    transform-origin: 50% 50%;
    fill: $color-cool-grey;
  }
}
