.tag {
  $root: &;

  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  display: block;
  padding: size(1);
  background-color: get-theme-color($currentTheme, "shade");
  border: 1px solid get-theme-color($currentTheme, "shade");
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten(get-theme-color($currentTheme, "shade"), 5);
    border-color: darken(get-theme-color($currentTheme, "shade"), 5);
  }

  &__text {
    @include font("caption");

    display: block;
    text-transform: uppercase;
    color: $color-cool-grey-two;
  }
}
