.tooltip {
  $root: &;

  position: relative;
  margin-top: size(1);
  max-width: size(30);

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 size(1) size(1) size(1);
    border-color: transparent transparent get-theme-color($currentTheme, "main") transparent;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--dark {
    &:before {
      border-color: transparent transparent $color-gray-dark transparent;
    }

    &#{$root}--bottom {
      &:before {
        border-color: $color-gray-dark transparent transparent transparent;
      }
    }

    &#{$root}--left {
      &:before {
        border-color: transparent $color-gray-dark transparent transparent;
      }
    }

    &#{$root}--right {
      &:before {
        border-color: transparent transparent transparent $color-gray-dark;
      }
    }

    #{$root}__content {
      background-color: $color-gray-dark;
    }
  }

  &--light {
    &:before {
      border-color: transparent transparent $color-white transparent;
    }

    &#{$root}--bottom {
      &:before {
        border-color: $color-white transparent transparent transparent;
      }
    }

    &#{$root}--left {
      &:before {
        border-color: transparent $color-white transparent transparent;
      }
    }

    &#{$root}--right {
      &:before {
        border-color: transparent transparent transparent $color-white;
      }
    }

    #{$root}__content {
      background-color: $color-white;
      color: $color-gray-dark;
    }
  }

  &--bottom {
    margin-bottom: size(1);

    &:before {
      bottom: auto;
      top: 100%;

      border-width: size(1) size(1) 0 size(1);
      border-color: get-theme-color($currentTheme, "main") transparent transparent transparent;
    }
  }

  &--left {
    margin-left: size(1);

    &:before {
      bottom: auto;
      top: 50%;
      right: 100%;
      left: auto;
      transform: translateY(-50%);

      border-width: size(1) size(1) size(1) 0;
      border-color: transparent get-theme-color($currentTheme, "main") transparent transparent;
    }
  }

  &--right {
    margin-right: size(1);

    &:before {
      bottom: auto;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);

      border-width: size(1) 0 size(1) size(1);
      border-color: transparent transparent transparent get-theme-color($currentTheme, "main");
    }
  }


  &__content {
    @include elevation("sticky");
    @include font("caption");

    padding: size(2);
    background-color: get-theme-color($currentTheme, "main");
    color: $color-white;
    font-weight: bold;
    text-align: center;
  }

  // customs
  @keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @keyframes hide {
    to { visibility: hidden; }
  }
  
  &--login {
    position: absolute;
    right: 0;
    transform: translateX(50%) translateX(-50px);
    min-width: 220px;
    animation: disappear 400ms ease 10s forwards, hide 0s 11s forwards;
  }

  &--badge {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
    position: absolute;
    right: 0;
    min-width: 88px;
    #{$root}__content {
      @include font("tiny");
      padding: size(1/2);
      background-color: $color-gray-dark;
    }
    &:before {
      left: 90%;
      border-color: transparent transparent $color-gray-dark transparent;
    }
  }
}
