<button class="button button--primary" data-accordion-trigger="test-accordion">
  <span class="button__inner">
    toggle
  </span>
</button>

<div class="accordion js-accordion" id="test-accordion">
  <div class="accordion__content js-accordion-content">
    <p>Text accordion content</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque commodi corporis cum delectus, distinctio
      ducimus expedita harum hic in inventore, minima neque nulla odit quaerat rerum sed unde, ut?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque commodi corporis cum delectus, distinctio
      ducimus expedita harum hic in inventore, minima neque nulla odit quaerat rerum sed unde, ut?
    </p>
  </div>
</div>
