<div class="alert">
  <div class="container">
    <div class="alert__inner">
      <div class="alert__content">
        Få tillgång till allt innehåll på webben <span>- endast 1 kr första månaden!</span>
      </div>
      <div class="alert__side">
        asd
      </div>
    </div>
  </div>
</div>
