<div class="article-full js-progress-element">

  <div class="article-full__breadcrumb">
    <!-- Breadcrumb start -->
    <nav class="breadcrumb">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="https://www.nwt.se">NWT</a>
        </li>

        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="#"> ASIKTER</a>
        </li>

        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="#"> NYHETER </a>
        </li>
      </ol>
    </nav>
    <!-- Breadcrumb end -->
  </div>

  <article>
    <div class="row align-items-start">
      <aside class="col-sm-2 article-full__aside article-full__sticky">
        <div class="article-full__author">
          <!-- Author start -->
          <div class="author">
            <img class="author__image" src="https://picsum.photos/112/128?image=856" alt="Author image">
            <strong class="author__name">TEST de PAYWALL 1</strong>
            <ul class="author__info-list">
              <li class="author__info">
                <a href="tel:054199647">054-19 96 47</a>
              </li>
              <li class="author__info">
                <a href="mailto:nicole.de.bouczan@nwt.se">nicole.<wbr>de.<wbr>bouczan<wbr>@nwt.<wbr>se</a>
              </li>
            </ul>
          </div>
          <!-- Author end -->
        </div>

        <!-- Share start -->
        <ul class="clear-list clear-list--space-2">
          <li class="clear-list__item">
            <a href="#">
              <span class="sr-only">Gå till facebook</span>
              <svg class="icon icon--size-4 icon--facebook icon--block" aria-hidden="true">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="clear-list__item">
            <a href="#">
              <span class="sr-only">Gå till twitter</span>
              <svg class="icon icon--size-4 icon--twitter icon--block" aria-hidden="true">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="clear-list__item">
            <a href="#">
              <span class="sr-only">Gå till linkedin</span>
              <svg class="icon icon--size-4 icon--linked-in icon--block" aria-hidden="true">
                <use xlink:href="#lndi"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- Share end -->

      </aside>
      <div class="col-sm-6">
        <h1 class="article-full__title">
          Krock mellan godståg och timmerbil
        </h1>

        <div class="article-full__image">
          <div class="image-aspect">
            <img src="https://picsum.photos/800/600?image=985" alt="Placeholder image" class="image-aspect__img">
          </div>
        </div>

        <div class="article-full__meta">
          <div class="article-full__meta-item">
            <div class="article-full__date">
              UPPDATERA: 2018-01-02
            </div>
          </div>
          <div class="article-full__meta-item">
            <div class="article-full__date article-full__date--create">
              PUBLICERAD: 2018-01-02
            </div>
          </div>
        </div>

        <div class="article-full__body">
          <p class="article-full__lead">
            I Torsby är var femte brandpersonal kvinna – det är bäst i landet, visar siffror från Myndigheten för
            samhällsskydd och beredskap som Nyhetsbyrån Siren sammanställt.
          </p>

          <!-- Author start -->
          <div class="article-full__author article-full__author--inside">
            <div class="author">
              <picture class="author__image">
                <source srcset="https://picsum.photos/112/128?image=856" media="(min-width: 768px)">
                <img src="https://picsum.photos/80/80?image=856" alt="NICOLE de BOUCZAN Photo">
              </picture>
              <div class="author__data">
                <strong class="author__name">NICOLE de BOUCZAN </strong>
                <ul class="author__info-list">
                <li class="author__info">
                  <a href="tel:054199647">054-19 96 47</a>
                </li>
                <li class="author__info">
                  <a href="mailto:nicole.de.bouczan@nwt.se">nicole.<wbr>de.<wbr>bouczan<wbr>@nwt.<wbr>se</a>
                </li>
              </ul>
              </div>
            </div>
          </div>
          <!-- Author end -->

          <p>
            Vilhelmina, Torsby och Bjurholm är topp-tre-kommuner i Sverige när det gäller kvinnlig representation på
            räddningstjänsterna runt om i landet.
          </p>


          {{> components/paywall }}


          {{!-- <p>
            Var femte anställd – runt 20 procent – är kvinna vilket är väldigt högt jämfört med riksgenomsnittet som
            ligger på var tjugonde.
          </p>
          <p>
            – Det är en väldigt ojämn könsfördelning. Det går framåt och vi ser en positiv trend, men det går alldeles
            för långsamt, säger Erik Flink, handläggare inom jämställdhet och mångfald på MSB till Nyhetsbyrån Siren.
          </p>

          <div class="article-full__content-image">
            <figure class="figure">
              <div class="figure__image">
                <img src="https://picsum.photos/800/600?image=864" alt="placeholder image">
              </div>
              <figcaption class="figure__caption">
                Placeholder image - <a href="https://unsplash.com/photos/71cd1rWqO8M">Lili Popper</a>
              </figcaption>
            </figure>
          </div>

          <p>
            Enligt honom är det arbetsmiljön som är största anledningen till den stora kvinnobristen bland den
            operativa personalen:
          </p>
          <p>
            – Det handlar både om den fysiska och den psykosociala arbetsmiljön. Det kan vara jargong, trakasserier
            eller så enkla saker som att det inte finns omklädningsrum för kvinnor. Kvinnor känner sig inte så
            välkomna som de ska kunna förvänta sig vara när de kommer till kommunal räddningstjänst, säger han till
            Nyhetsbyrån Siren.
          </p>
          <p>
            I ett tjugotal av landets kommuner var andelen kvinnor som arbetar som brandpersonal i utryckningstjänst
            noll procent.
          </p>
          <p>
            Övriga värmländska kommuner placerade sig inte på lika framskjuten plats som Torsby.
          </p>
          <p>
            Arvika kommer på 47:e plats. Där är tio procent av brandmännen kvinnor enligt MSB:s statistik.
          </p>
          <p>
            2016-2017 var ett turbulent år för räddningstjänsten i Torsby: många var missnöjda med ledningen och
            hoppade av samtidigt som flera gick i pension.
          </p>
          <p>
            Men i april förra året rekryterades tolv nya deltidsbrandmän varav sex var kvinnor.
          </p> --}}

        </div>

        <div>
          <!-- Tags start -->
          <ul class="inline-list inline-list--space-2">
            <li class="inline-list__item">
              <a href="#" class="tag">
                <span class="tag__text">Karlstad</span>
              </a>
            </li>
            <li class="inline-list__item">
              <a href="#" class="tag">
                <span class="tag__text">Sport</span>
              </a>
            </li>
            <li class="inline-list__item">
              <a href="#" class="tag">
                <span class="tag__text">Ishockey</span>
              </a>
            </li>
          </ul>
          <!-- Tags end -->
        </div>

        <div class="mt-3">
          <!-- Storytags start -->
          <ul class="inline-list inline-list--small">
            <li class="inline-list__item">
              <a href="#" class="story-tag">
                <span class="tag__text">Winter Olympics 2018</span>
              </a>
            </li>
          </ul>
          <!-- Storytags end -->
        </div>
      </div>


      <div class="col-sm-4 article-full__aside">
        <!-- Ads start -->
        <div class="ad-container ad-container--w250 ad-container--h360 ad-container--right">
          <div class="ad-container__inner">
            <img class="ad-container__ad" src="http://www.placehold.it/250x360" alt="ad banner">
          </div>
        </div>
        <!-- Ads end -->

        <!-- right aside content start -->
        <div class="row justify-content-end">
          <div class="col-sm-9">
            <!-- Popular start -->
            {{> components/popular }}
            <!-- Popular end -->
          </div>
        </div>
        <!-- right aside content end -->
      </div>

    </div>
  </article>
</div>
