<a href="#" class="card card--link author-card-horizontal">
  <div class="author-card-horizontal__picture">
    <img src="http://placehold.it/200x200" alt="">
  </div>
  <div class="author-card-horizontal__info">
      <h3 class="author-card-horizontal__name">God Morgon</h3>
      <p class="author-card-horizontal__description">Hörvärd podd om verklighetens kultur</p>
  </div>
</a>