<nav class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="https://www.nwt.se">NWT</a>
    </li>

    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="#"> ASIKTER</a>
    </li>

    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="#"> NYHETER </a>
    </li>
  </ol>
</nav>
