<div class="group">
  <div class="group__element">
    <div>button button--primary</div>
    <button class="button button--primary">
        <span class="button__inner">
          <span class="button__text">Normal</span>
        </span>
    </button>
  </div>

  <div class="group__element">
    <div>button button--primary-outline</div>
    <button class="button button--primary-outline">
      <span class="button__inner">
        <span class="button__text">Normal</span>
      </span>
    </button>
  </div>

  <div class="group__element">
    <div>button button--secondary</div>
    <button class="button button--secondary">
      <span class="button__inner">
        <span class="button__text">Normal</span>
      </span>
    </button>
  </div>

  <div class="group__element">
    <div>button button--secondary-outline</div>
    <button class="button button--secondary-outline">
      <span class="button__inner">
        <span class="button__text">Normal</span>
      </span>
    </button>
  </div>
</div>
