<div class="table table--block table--fixed">
  <table class="table__content">
    <thead>
      <tr>
        <th></th>
        <th>NYHETER</th>
        <th>FAMILJ</th>
        <th>OPINION</th>
        <th>NÖJE</th>
        <th>SPORT</th>
        <th>KULTUR</th>
        <th>TEMA</th>
        <th>ANDRA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>NWT</th>
        <td>
          <div class="docs-color-box docs-color-box--nwt-main"></div>
          <div class="docs-color-box docs-color-box--nwt-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--nwt-family"></div></td>
        <td><div class="docs-color-box docs-color-box--nwt-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--nwt-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--nwt-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--nwt-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--nwt-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--nwt-other"></div></td>
      </tr>
      <tr>
        <th>VF</th>
        <td><div class="docs-color-box docs-color-box--vf-main"></div></td>
        <td><div class="docs-color-box docs-color-box--vf-family"></div></td>
        <td><div class="docs-color-box docs-color-box--vf-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--vf-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--vf-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--vf-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--vf-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--vf-other"></div></td>
      </tr>
      <tr>
        <th>AN</th>
        <td>
          <div class="docs-color-box docs-color-box--arvika-nyheter-main"></div>
          <div class="docs-color-box docs-color-box--arvika-nyheter-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--arvika-nyheter-family"></div></td>
        <td><div class="docs-color-box docs-color-box--arvika-nyheter-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--arvika-nyheter-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--arvika-nyheter-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--arvika-nyheter-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--arvika-nyheter-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--arvika-nyheter-other"></div></td>
      </tr>
      <tr>
        <th>DAL</th>
        <td>
          <div class="docs-color-box docs-color-box--dalslanningen-main"></div>
          <div class="docs-color-box docs-color-box--dalslanningen-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--dalslanningen-family"></div></td>
        <td><div class="docs-color-box docs-color-box--dalslanningen-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--dalslanningen-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--dalslanningen-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--dalslanningen-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--dalslanningen-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--dalslanningen-other"></div></td>
      </tr>
      <tr>
        <th>FB</th>
        <td>
          <div class="docs-color-box docs-color-box--frykdals-bygden-main"></div>
          <div class="docs-color-box docs-color-box--frykdals-bygden-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--frykdals-bygden-family"></div></td>
        <td><div class="docs-color-box docs-color-box--frykdals-bygden-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--frykdals-bygden-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--frykdals-bygden-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--frykdals-bygden-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--frykdals-bygden-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--frykdals-bygden-other"></div></td>
      </tr>
      <tr>
        <th>FT</th>
        <td>
          <div class="docs-color-box docs-color-box--filipstads-tidning-main"></div>
          <div class="docs-color-box docs-color-box--filipstads-tidning-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--filipstads-tidning-family"></div></td>
        <td><div class="docs-color-box docs-color-box--filipstads-tidning-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--filipstads-tidning-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--filipstads-tidning-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--filipstads-tidning-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--filipstads-tidning-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--filipstads-tidning-other"></div></td>
      </tr>
      <tr>
        <th>KT</th>
        <td>
          <div class="docs-color-box docs-color-box--karlskoga-tidning-main"></div>
          <div class="docs-color-box docs-color-box--karlskoga-tidning-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--karlskoga-tidning-family"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-tidning-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-tidning-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-tidning-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-tidning-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-tidning-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-tidning-other"></div></td>
      </tr>
      <tr>
        <th>KK</th>
        <td>
          <div class="docs-color-box docs-color-box--karlskoga-kuriren-main"></div>
          <div class="docs-color-box docs-color-box--karlskoga-kuriren-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--karlskoga-kuriren-family"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-kuriren-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-kuriren-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-kuriren-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-kuriren-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-kuriren-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--karlskoga-kuriren-other"></div></td>
      </tr>
      <tr>
        <th>NKP</th>
        <td>
          <div class="docs-color-box docs-color-box--kristinehamns-posten-main"></div>
          <div class="docs-color-box docs-color-box--kristinehamns-posten-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--kristinehamns-posten-family"></div></td>
        <td><div class="docs-color-box docs-color-box--kristinehamns-posten-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--kristinehamns-posten-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--kristinehamns-posten-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--kristinehamns-posten-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--kristinehamns-posten-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--kristinehamns-posten-other"></div></td>
      </tr>
      <tr>
        <th>PD</th>
        <td>
          <div class="docs-color-box docs-color-box--provinstidningen-main"></div>
          <div class="docs-color-box docs-color-box--provinstidningen-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--provinstidningen-family"></div></td>
        <td><div class="docs-color-box docs-color-box--provinstidningen-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--provinstidningen-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--provinstidningen-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--provinstidningen-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--provinstidningen-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--provinstidningen-other"></div></td>
      </tr>
      <tr>
        <th>ST</th>
        <td>
          <div class="docs-color-box docs-color-box--saffle-tidningen-main"></div>
          <div class="docs-color-box docs-color-box--saffle-tidningen-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--saffle-tidningen-family"></div></td>
        <td><div class="docs-color-box docs-color-box--saffle-tidningen-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--saffle-tidningen-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--saffle-tidningen-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--saffle-tidningen-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--saffle-tidningen-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--saffle-tidningen-other"></div></td>
      </tr>
      <tr>
        <th>SLA</th>
        <td>
          <div class="docs-color-box docs-color-box--skaraborgs-allehanda-main"></div>
          <div class="docs-color-box docs-color-box--skaraborgs-allehanda-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--skaraborgs-allehanda-family"></div></td>
        <td><div class="docs-color-box docs-color-box--skaraborgs-allehanda-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--skaraborgs-allehanda-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--skaraborgs-allehanda-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--skaraborgs-allehanda-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--skaraborgs-allehanda-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--skaraborgs-allehanda-other"></div></td>
      </tr>
      <tr>
        <th>HT</th>
        <td>
          <div class="docs-color-box docs-color-box--hjo-tidning-main"></div>
          <div class="docs-color-box docs-color-box--hjo-tidning-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--hjo-tidning-family"></div></td>
        <td><div class="docs-color-box docs-color-box--hjo-tidning-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--hjo-tidning-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--hjo-tidning-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--hjo-tidning-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--hjo-tidning-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--hjo-tidning-other"></div></td>
      </tr>
      <tr>
        <th>MT</th>
        <td>
          <div class="docs-color-box docs-color-box--mariestads-tidningen-main"></div>
          <div class="docs-color-box docs-color-box--mariestads-tidningen-main-secondary"></div>
        </td>
        <td><div class="docs-color-box docs-color-box--mariestads-tidningen-family"></div></td>
        <td><div class="docs-color-box docs-color-box--mariestads-tidningen-opinion"></div></td>
        <td><div class="docs-color-box docs-color-box--mariestads-tidningen-fun"></div></td>
        <td><div class="docs-color-box docs-color-box--mariestads-tidningen-sport"></div></td>
        <td><div class="docs-color-box docs-color-box--mariestads-tidningen-culture"></div></td>
        <td><div class="docs-color-box docs-color-box--mariestads-tidningen-theme"></div></td>
        <td><div class="docs-color-box docs-color-box--mariestads-tidningen-other"></div></td>
      </tr>
    </tbody>
  </table>
</div>
