<div class="dropdown">
  <ul class="dropdown__list">
    <li class="dropdown__item dropdown__item--has-icon">
      <svg class="icon dropdown__icon">
        <use xlink:href="#menu-down"></use>
      </svg>
      <a href="#" class="dropdown__link">Nya Wermlands-Tidiningen </a>
    </li>
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">Fryksdalsbygden</a>
    </li>
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">Karlskoga Tidning</a>
    </li>
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">Provinstidningen Dalsland</a>
    </li>
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">Mariestads Tidningen</a>
    </li>
  </ul>
  <ul class="dropdown__list">
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">Logga ut</a>
    </li>
  </ul>
</div>
