<div class="dropdown dropdown--slim">
  <ul class="dropdown__list">
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">NWT</a>
    </li>
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">SLA</a>
    </li>
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">KK</a>
    </li>
    <li class="dropdown__item">
      <a href="#" class="dropdown__link">NKP</a>
    </li>
  </ul>
</div>
