<div class="factbox">
  <span class="factbox__label">Fakta</span>
  <h4 class="factbox__title">Some title in swedish</h4>
  <p class="factbox__text">
    Det är ett frontsystem som rört sig in över länet västerifrån och som har gett en hel del snö, säger Marcus Sjöstedt, jourhavande meteorolog vid SMHI.
  </p>
</div>