<a href="#" class="back-top-top js-back-to-top" aria-label="Back to top">
  <svg class="back-top-top__arrow icon" aria-hidden="true">
    <use xlink:href="#arrow-full"></use>
  </svg>
</a>
<div class="footer js-footer">
  <div class="footer__outer">
    <div class="footer__content js-footer-content">
      <h2 class="sr-only">nwt.se</h2>
      <div class="footer__header">
        <div class="container">
          <div class="footer__header-inner">
            <!-- logo-footer -->
            <div class="footer__logo footer__logo--desktop">
              <svg class="icon logo logo--vf logo--footer">
                <use xlink:href="#logo-footer-vf"></use>
              </svg>
            </div>

            <ul class="inline-list inline-list--space-sm-2 inline-list--stretch">

              <li class="inline-list__item">
                <a href="#" class="social-icon social-icon--invert social-icon--rss">
                  <span class="sr-only">Gå till RSS</span>
                  <svg class="icon social-icon__icon" aria-hidden="true">
                    <use xlink:href="#rss"></use>
                  </svg>
                </a>
              </li>

              <li class="inline-list__item">
                <a href="#" class="social-icon social-icon--invert social-icon--facebook">
                  <span class="sr-only">Gå till facebook</span>
                  <svg class="icon social-icon__icon" aria-hidden="true">
                    <use xlink:href="#facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="inline-list__item">
                <a href="#" class="social-icon social-icon--invert social-icon--twitter">
                  <span class="sr-only">Gå till twitter</span>
                  <svg class="icon social-icon__icon" aria-hidden="true">
                    <use xlink:href="#twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="inline-list__item">
                <a href="#" class="social-icon social-icon--invert social-icon--instagram">
                  <span class="sr-only">Gå till instagram</span>
                  <svg class="icon social-icon__icon" aria-hidden="true">
                    <use xlink:href="#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="inline-list__item">
                <a href="#" class="social-icon social-icon--invert social-icon--linked-in">
                  <span class="sr-only">Gå till linkedin</span>
                  <svg class="icon social-icon__icon" aria-hidden="true">
                    <use xlink:href="#lndi"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer__inner">
          <div class="footer__contact">
            <h3 class="footer__section-title">Kontakta Oss</h3>
            <ul class="clear-list clear-list--space-2">
              <li class="clear-list__item">
                <div>Besöksadress:</div>
                <div> Våxnäsgatan 20, Karlstad</div>
              </li>

              <li class="clear-list__item">
                <div>Postadress:</div>
                <div>Box 28, 651 02 Karlstad</div>
              </li>

              <li class="clear-list__item">
                <div>Telefon:</div>
                <div>054-19 90 00 (vxl)</div>
              </li>

              <li class="clear-list__item">
                <div class="mb-1">Ansvarig utgivare:</div>
                <div>
                  <a href="#">Mikael Rothsten</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="footer__tip">
            <h3 class="footer__section-title footer__section-title--strong">TIPSA OSS</h3>

            <div class="footer__tip-element">
              <a href="#">Webbredaktör: 054-19 96 74</a>
            </div>
            <div class="footer__tip-element">
              <a href="#">via sms eller mms: 0730-12 12 12</a>
            </div>
          </div>
          <div class="footer__section footer__about">
            <h3 class="footer__section-title">Om Oss</h3>

            <ul class="footer__list clear-list clear-list--space-2">
              <li class="clear-list__item"><a href="#">Om NWT</a></li>

              <li class="clear-list__item"><a href="#">Kundcenter</a></li>

              <li class="clear-list__item"><a href="#">Studiebesök</a></li>

              <li class="clear-list__item"><a href="#">Beställ skoltidningar</a></li>
            </ul>
          </div>
          <div class="footer__section footer__order">
            <h3 class="footer__section-title">Beställa</h3>

            <ul class="footer__list clear-list clear-list--space-2">
              <li class="clear-list__item"><a href="#">Prenumeration</a></li>

              <li class="clear-list__item"><a href="#">Taltidning</a></li>
            </ul>
          </div>
          <div class="footer__section footer__advert">
            <h3 class="footer__section-title">Annons</h3>

            <ul class="footer__list clear-list clear-list--space-2">
              <li class="clear-list__item"><a href="#">Annons</a></li>

              <li class="clear-list__item"><a href="#">Tyck till om annonser</a></li>

              <li class="clear-list__item"><a href="#">Lämna annonsmaterial</a></li>

              <li class="clear-list__item"><a href="#">Boka familjeannonser</a></li>

              <li class="clear-list__item"><a href="#">Familj.se</a></li>
            </ul>
          </div>
          <div class="footer__section footer__services">
            <h3 class="footer__section-title">Tjänster</h3>
            <ul class="footer__list clear-list clear-list--space-2">
              <li class="clear-list__item"><a href="#">Marknadsguiden</a></li>

              <li class="clear-list__item"><a href="#">Lokus köp och sälj</a></li>

              <li class="clear-list__item"><a href="#">Hyra bostad/lokal</a></li>
            </ul>
          </div>
          <div class="footer__subscription">
            <p>Some text promoting subscriptions</p>
            <a href="#" class="button button--primary">
              <span class="button__inner">
                <span class="button__text">PRENUMERATION</span>
              </span>
            </a>
          </div>
          <div class="footer__section footer__app">


            <h3 class="footer__section-title">Ladda ner e-tidningsappar</h3>

            <div class="inline-list justify-content-start mb-2">
              <div class="inline-list__item">
                <a class="app-badge" href="https://play.google.com/store/apps/details?id=se.nwt.vf" aria-label="Android">
                  <svg class="icon app-badge__icon app-badge__icon--android" aria-hidden="true">
                    <use xlink:href="#android-button"></use>
                  </svg>
                </a>            
              </div>
              <div class="inline-list__item">
                <a class="app-badge" href="https://itunes.apple.com/za/app/vf-se-senaste-nytt/id413100589?mt=8" aria-label="iOS">
                  <svg class="icon app-badge__icon app-badge__icon--ios" aria-hidden="true">
                    <use xlink:href="#ios-button"></use>
                  </svg>
                </a>            
              </div>
            </div>


            <h3 class="footer__section-title">Ladda ner nyhetsappar</h3>

            <div class="inline-list justify-content-start">
              <div class="inline-list__item">
                <a class="app-badge" href="https://play.google.com/store/apps/details?id=se.nwt.vf" aria-label="Android">
                  <svg class="icon app-badge__icon app-badge__icon--android" aria-hidden="true">
                    <use xlink:href="#android-button"></use>
                  </svg>
                </a>            
              </div>
              <div class="inline-list__item">
                <a class="app-badge" href="https://itunes.apple.com/za/app/vf-se-senaste-nytt/id413100589?mt=8" aria-label="iOS">
                  <svg class="icon app-badge__icon app-badge__icon--ios" aria-hidden="true">
                    <use xlink:href="#ios-button"></use>
                  </svg>
                </a>            
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="footer__section footer__footer">
        <div class="container">
          <div class="footer__footer-inner">
            <div class="footer__copyrights">
              <div class="footer__footer-item">Copyright 1995-2018</div>
              <div class="footer__footer-item">nwt.se är en del av NWT-koncernen</div>
            </div>
            <div class="footer__links">
              <div class="footer__footer-item"><a href="#">Cookies</a></div>
              <div class="footer__footer-item"><a href="#">RSS</a></div>
              <div class="footer__footer-item"><a href="#">Annonsera: privat företag</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> components/login-modal }}
