<div class="gallery js-gallery gallery--loading">
  <div class="gallery__inner">
    <div class="gallery__slider swiper-container js-gallery-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="0">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="1">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="2">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="3">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="4">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="5">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="6">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="7">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="8">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="9">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="gallery__slide-link" data-lightbox-trigger="global-lightbox" data-lightbox-slide="10">
            <div class="image-aspect">
              <img src="http://www.placehold.it/1600x900" alt="Test" class="image-aspect__img">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="gallery__controls js-gallery-controls">
      <button class="gallery__control js-nav-button gallery__control--prev" data-index-increment="-1">
        <svg class="icon icon--block gallery__control-icon">
          <use xlink:href="#arr-left"></use>
        </svg>
      </button>

      <div class="gallery__controls-inner">
        <div class="gallery__nav swiper-container js-gallery-nav-slider">
          <div class="swiper-wrapper">
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link active js-thumb-button" data-index="0">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="1">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="2">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="3">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="4">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="5">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="6">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="7">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="8">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="9">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
            <div class="gallery__nav-item swiper-slide">
              <button class="gallery__nav-link js-thumb-button" data-index="10">
                <img src="https://www.placehold.it/55x55" alt="thumb" class="gallery__thumb"/>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button class="gallery__control js-nav-button gallery__control--next" data-index-increment="1">
        <svg class="icon icon--block gallery__control-icon">
          <use xlink:href="#arr-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>

{{> components/lightbox }}
