<div class="docs-boxes">
  <div class="docs-boxes__element">
    <small>gradient-main</small>
    <div class="docs-color-box docs-color-box--gradient-main"></div>
  </div>

  <div class="docs-boxes__element">
    <small>gradient-family</small>
    <div class="docs-color-box docs-color-box--gradient-family"></div>
  </div>

  <div class="docs-boxes__element">
    <small>gradient-culture</small>
    <div class="docs-color-box docs-color-box--gradient-culture"></div>
  </div>

  <div class="docs-boxes__element">
    <small>gradient-fun</small>
    <div class="docs-color-box docs-color-box--gradient-fun"></div>
  </div>

  <div class="docs-boxes__element">
    <small>gradient-sport</small>
    <div class="docs-color-box docs-color-box--gradient-sport"></div>
  </div>

  <div class="docs-boxes__element">
    <small>gradient-opinion</small>
    <div class="docs-color-box docs-color-box--gradient-opinion"></div>
  </div>

  <div class="docs-boxes__element">
    <small>gradient-theme</small>
    <div class="docs-color-box docs-color-box--gradient-theme"></div>
  </div>
</div>
