<div class="docs-boxes">
  <div class="docs-boxes__element">
    <div>
      <small>account</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#account"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>account-outline</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#account-outline"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>add</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#add"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>android</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#android"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>arr-down</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#arr-down"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>arr-left</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#arr-left"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>arr-right</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#arr-right"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>arr-up</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#arr-up"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>call</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#call"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>cancel</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#cancel"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>chat</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#chat"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>create</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#create"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>download</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#download"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>error</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#error"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>eye</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#eye"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>eye-off</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#eye-off"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>fav</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#fav"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>mail</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#mail"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>menu</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#menu"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>menu-down</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#menu-down"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>menu-up</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#menu-up"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>message</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#message"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>news</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#news"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>open_in_new</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#open_in_new"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>plus</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#plus"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>print</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#print"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>search</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#search"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>share</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#share"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>star</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#star"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>success</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#success"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>upload</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#upload"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>warning</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#warning"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>zoom_in</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#zoom_in"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>zoom_out</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#zoom_out"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>cloud</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#cloud"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>rss</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#rss"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>facebook</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#facebook"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>instagram</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#instagram"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>lndi</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#lndi"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>os</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#os"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>twitter</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#twitter"></use>
      </svg>
    </div>
  </div>

  <div class="docs-boxes__element">
    <div>
      <small>weather-1</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-1"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-2</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-2"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-3</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-3"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-4</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-4"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-5</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-5"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-6</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-6"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-7</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-7"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-8</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-8"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-9</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-9"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-10</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-10"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-11</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-11"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-12</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-12"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-13</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-13"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-14</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-14"></use>
      </svg>
    </div>
  </div>
  <div class="docs-boxes__element">
    <div>
      <small>weather-15</small>
    </div>
    <div>
      <svg class="icon icon--block">
        <use xlink:href="#weather-15"></use>
      </svg>
    </div>
  </div>
</div>
