<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="image-aspect">
      <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
    </div>
    <div>Image with 16x9 aspect ratio</div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="image-aspect image-aspect--1x1">
      <img src="https://www.placehold.it/160x160" alt="Test" class="image-aspect__img">
    </div>
    <div>Image with 1x1 aspect ratio</div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="image-aspect">
      <img src="https://www.placehold.it/160x160" alt="Test" class="image-aspect__img">
    </div>
    <div>Image scaled to 16x9 with source 1x1</div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="image-aspect image-aspect--1x1">
      <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img">
    </div>
    <div>Image scaled to 1x1 with source 16x9</div>
    <small>Whitespace on top and bottom - source height too small</small>
  </div>
</div>
