<div class="swiper-container important-news">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><h3><a href="#">Ny brand norr om Hagfors</a></h3></div>
        <div class="swiper-slide"><h3><a href="#">TORSBY En anhållen för dråpförsök – man allvarligt skadad</a></h3></div>
        <div class="swiper-slide"><h3><a href="#">Pojke jagad av okänd man – ringde 112</a></h3></div>
        <div class="swiper-slide"><h3><a href="#">Flera fordon i trafikolycka på E18</a></h3></div>
    </div>
    <div class="swiper-pagination"></div>
</div>