<div class="group">
  <div class="group__element">
    <div class="input">
      <div class="input__inner">
        <label class="input__label" for="inputId1">Label</label>
        <input class="input__field" id="inputId1" type="text">
      </div>
      <div class="input__hint">
        Hint text
      </div>
    </div>
  </div>

  <div class="group__element">
    <div class="input input--has-icon">
      <div class="input__inner">
        <label class="input__label" for="inputId2">Label</label>
        <input class="input__field" id="inputId2" type="text">
        <button type="submit" class="button input__icon pt-0 pb-0">
          <svg class="icon icon--block">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </div>
      <div class="input__hint">
        Hint text
      </div>
    </div>
  </div>

  <div class="group__element">
    <div class="input input--select input--has-icon">
      <div class="input__inner">
        <label class="input__label" for="inputId3">Label</label>
        <select name="selectName" id="inputId3" class="input__field">
          <option value="1" selected>option 1</option>
          <option value="2">option 2</option>
          <option value="3">option 3</option>
          <option value="4">option 4</option>
          <option value="5">option 5</option>
          <option value="6">option 6</option>
          <option value="7">option 7</option>
        </select>
        <svg class="icon icon--block input__icon">
          <use  xlink:href="#menu-down"></use>
        </svg>
      </div>
      <div class="input__hint">
        Hint text
      </div>
    </div>
  </div>

  <div class="group__element">
    <div class="input input--textarea">
      <div class="input__inner">
        <label class="input__label" for="inputId4">Label</label>
        <textarea name="textareaName" id="inputId4" class="input__field">With icon! uhuu</textarea>
        <svg class="icon icon--block input__icon">
          <use  xlink:href="#create"></use>
        </svg>
      </div>
      <div class="input__hint"></div>
    </div>
  </div>

  <div class="group__element">
    <div class="input input--textarea">
      <div class="input__inner">
        <label class="input__label" for="inputId4">Label</label>
        <textarea name="textareaName" id="inputId4" class="input__field">Lorem ipsum</textarea>
      </div>
      <div class="input__hint"></div>
    </div>
  </div>

  <div class="group__element">
    <div class="row">
      <div class="col-sm-6">
        <div class="checkbox">
          <input type="checkbox" class="checkbox__input" id="checkboxId">
          <label for="checkboxId" class="checkbox__label">Test message</label>
        </div>

        <div class="checkbox">
          <input type="checkbox" class="checkbox__input" id="checkboxId1" checked>
          <label for="checkboxId1" class="checkbox__label">Checked input</label>
        </div>

        <div class="checkbox">
          <input type="checkbox" class="checkbox__input" id="checkboxId2" disabled>
          <label for="checkboxId2" class="checkbox__label">Disabled input</label>
        </div>

        <div class="checkbox">
          <input type="checkbox" class="checkbox__input" id="checkboxId3" checked disabled>
          <label for="checkboxId3" class="checkbox__label">Disabled checked input</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="radio">
          <input type="radio" class="radio__input" id="radioId" name="radioTest">
          <label for="radioId" class="radio__label">Test message</label>
        </div>

        <div class="radio">
          <input type="radio" class="radio__input" id="radioId1" name="radioTest" checked>
          <label for="radioId1" class="radio__label">Checked input</label>
        </div>

        <div class="radio">
          <input type="radio" class="radio__input" id="radioId2" disabled>
          <label for="radioId2" class="radio__label">Disabled input</label>
        </div>

        <div class="radio">
          <input type="radio" class="radio__input" id="radioId3" checked disabled>
          <label for="radioId3" class="radio__label">Disabled checked input</label>
        </div>
      </div>
    </div>
  </div>
</div>
