<div class="lightbox js-lightbox" hidden id="global-lightbox">
  <div class="lightbox__inner">
    <button class="lightbox__close js-lightbox-close">
      <svg class="icon lightbox__icon">
        <use xlink:href="#cancel"></use>
      </svg>
    </button>
    <div class="lightbox__content">
      <div class="lightbox__container lightbox__container--image">
        <div class="swiper-container lightbox__swiper js-lightbox-slider-image">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/1200x1000')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/640x480')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/500x800')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/900x1600')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/540x1280')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/1280x1024')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/640x1520')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/1600x900')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/1600x800')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/1600x800')"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__image-wrapper">
                <div class="lightbox__image" style="background-image: url('http://www.placehold.it/1600x800')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lightbox__container lightbox__container--text">
        <div class="swiper-container js-lightbox-slider-text">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">1</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                        <svg class="icon icon--block">
                          <use xlink:href="#facebook"></use>
                        </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                        <svg class="icon icon--block">
                          <use xlink:href="#twitter"></use>
                        </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">2</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">3</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">4</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">5</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">6</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">7</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">8</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">9</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">10</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="lightbox__text-content">
                <div class="lightbox__slide">
                  <span class="lightbox__slide-current">11</span> / 11
                </div>
                <div class="lightbox__image-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, dolore error ex facere in, libero
                  obcaecati odit placeat provident quam quis, ut. Dignissimos, in nam obcaecati quasi ut voluptas.
                </div>
                <div class="lightbox__image-author">
                  Bild: Peter Bäcker
                </div>
                <div class="lightbox__share-box">
                  <div class="lightbox__share-label">
                    Dela bilden
                  </div>
                  <div class="lightbox__share-list">
                    <ul class="inline-list inline-list--space-2">
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="inline-list__item">
                        <a href="#" class="lightbox__share-icon">
                          <svg class="icon icon--block">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lightbox__controls">
      <button class="lightbox__control lightbox__control--prev js-lightbox-slider-prev">
        <svg class="icon lightbox__icon">
          <use xlink:href="#arr-left"></use>
        </svg>
      </button>
      <button class="lightbox__control lightbox__control--info js-lightbox-text-toggle">
        <svg class="icon lightbox__icon">
          <use xlink:href="#arr-up"></use>
        </svg>
      </button>
      <button class="lightbox__control lightbox__control--next js-lightbox-slider-next">
        <svg class="icon lightbox__icon">
          <use xlink:href="#arr-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
