<div>
  <small>Normal</small>
  <div class="loader">
    <div class="loader__tile"></div>
    <div class="loader__tile"></div>
    <div class="loader__tile"></div>
    <div class="loader__tile"></div>
  </div>
</div>
<div>
  <small>Snake</small>
  <div class="loader loader--snake">
    <div class="loader__tile"></div>
    <div class="loader__tile"></div>
    <div class="loader__tile"></div>
    <div class="loader__tile"></div>
  </div>
</div>
