<div class="docs-section">
  <div class="row">

    <div class="col-12">
      <h1 class="docs-section__title">local ads</h1>
    </div>

    <div class="col-12 col-sm-4">
      <a href="#" class="card card--link localad localad--color-magenta">
        <div class="card__content">
          <svg class="icon localad__icon">
            <use xlink:href="#eye"></use>
          </svg>
          <h3 class="localad__title">Dagens lunch</h3>
          <p class="localad__description">boka har 170,-</p>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-4">
      <a href="#" class="card card--link localad localad--color-ugly-blue">
        <div class="card__content">
          <svg class="icon localad__icon">
            <use xlink:href="#star"></use>
          </svg>
          <h3 class="localad__title">Dagens lunch</h3>
          <p class="localad__description">boka har 170,-</p>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-4">
      <a href="#" class="card card--link localad localad--opinion">
        <div class="card__content">
          <svg class="icon localad__icon">
            <use xlink:href="#near-me"></use>
          </svg>
          <h3 class="localad__title">Dagens lunch</h3>
          <p class="localad__description">boka har 170,-</p>
        </div>
      </a>
    </div>

  </div>
</div>
