<div class="backdrop js-modal" id="login-modal-window" hidden>

  <div class="login-modal js-modal-content">
    <div class="login-modal__close js-modal-close">
      <button class="button" id="login-modal-close-btn">
        <svg class="icon icon--block">
          <use xlink:href="#cancel"></use>
        </svg>
      </button>
    </div>
    <div class="login-modal__content">
      <div class="container-fluid">
        <div class="login-box">

          <div class="login-box__error" id="error-container" hidden="">
            Fel e-postadress eller lösenord
          </div>
          <form method="POST" action="/login/">

            <div class="input">
              <div class="input__inner">
                <label class="input__label" for="login-modal-email">E-postadress</label>
                <input class="input__field" id="login-modal-email" name="email" type="email" required="" tabindex="-1">
              </div>
            </div>

            <div class="input">
              <div class="input__inner">
                <label class="input__label" for="login-modal-password">Lösenord</label>
                <input class="input__field" id="login-modal-password" name="password" type="password" required="" tabindex="-1">
              </div>
            </div>

            <div class="checkbox">
              <input type="checkbox" class="checkbox__input" value="remember-me" name="rememberMe" id="login-modal-rememberme" checked="checked" tabindex="-1">
              <label for="login-modal-rememberme" class="checkbox__label">Håll mig inloggad</label>
            </div>

            <button class="button button--primary button--wide mt-2" tabindex="-1">
              <span class="button__inner">
                <span class="button__text">Logga in</span>
              </span>
            </button>
            <div class="input__hint text-center mt-1">
              <a href="#" class="login-box__password-link" tabindex="-1">Glömt lösenord</a>
            </div>
            <input type="hidden" class="tulo-returnurl" name="forward_url" value="/" tabindex="-1">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
