<div class="docs-section pt-4 pb-4">
  <div class="matchad-box">
    <div class="matchad-box__header">
      <h2 class="matchad-box__title">
        REKOMMENDERAT FÖR DIG
      </h2>
    </div>

    <div class="row mb-2">
      <div class="col-12 col-sm-3 mb-2">
        <a href="#" class="card card--full-height card--link">
          <div class="image-aspect card__image">
            <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img"/>
          </div>
          <div class="card__content card__content--category">
            <div class="card__category-bar"></div>
            <div class="article-teaser">
              <h3 class="article-teaser__title">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-3 mb-2">
        <a href="https://api.cxense.com/public/widget/click/4w42vYDH2rC2jb_ID-ixzHzPeTiov7x0bSuh9qHQaxiC3HSO5ZSpbOSv2VjWcpEDpPmySjtmbjStaItglQ1O1zxQDvFrm7GT5FKYcTxUhRH_-UjV88GmEq8nbiZcSvHlpbdqq9ltAl_3v4NSvuMOConm_ZPVNbLchHwLJsAnLLNnpUBhg74gEo36JvPsFL-JVLpy4H1JEOgRfAOtk5R5C7kvxNJzpvhLDUoF9oMQ3efrdKwE1eDxnxt4g967HAraGdyIolWg0_rB2QK_FQrKVB66JizJQyfOyYDsvhyoBP9bo2JLMIRC_dLU6U_rd__Zj3lg4_hJRIXOp_u4n04oqxRoq8s9tGhFIowFv5XMIHucp5zR6FmZRswOUIoQISh1gdAqfKh4TM7gOgL0EtJcwxd83Mq5tTLaY24uu9Ui4KSVOjgUOeKTHpJLOLqQ1mu5twCOkxrIOMSRwM7hVXcaxosSlIaSjN54WcT9gMqF09XQOujoNesoo0a0n51__Q3OBWkck0brF3ZwPbNUPJw4ek2akbjOUGkaVZt9WeqTnBAcWcHz8QHAdwKlX0f8jmQLjo8GqIooC-m49p5iMf3PWtJCqRdevNviw1pWpFwcjWipt2awGzZwyD65DKUdkPCtOAeGNTRMpmqgI6odWDiD5q3pJVGhXOHLxmpF91voJaqHgTYaz4KmsmnUsjbBMlU_3T8vT-A0" class="card card--full-height card--advert card--link">
          <div class="image-aspect card__image">
            <img src="https://imengine.nwt.infomaker.io?uuid=37f8972a-f402-4653-ad58-4607014e190e&function=hardcrop&type=preview&source=false&q=75&width=1080&height=720" alt="Test" class="image-aspect__img"/>
          </div>
          <div class="card__content card__content--category">
            <div class="card__caption">
              Annons
            </div>
            <div class="article-teaser">
              <h3 class="article-teaser__title">
                Ett svulstigare Enforcer är tillbaka
              </h3>
            </div>
          </div>
        </a>

      </div>

      <div class="col-12 col-sm-3 mb-2">
        <a href="#" class="card card--full-height card--link">
          <div class="image-aspect card__image">
            <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img"/>
          </div>
          <div class="card__content card__content--category">
            <div class="card__category-bar"></div>
            <div class="article-teaser">
              <h3 class="article-teaser__title">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-3 mb-2">
        <a href="#" class="card card--full-height card--advert card--link">
          <div class="image-aspect card__image">
            <img src="https://www.placehold.it/160x90" alt="Test" class="image-aspect__img"/>
          </div>
          <div class="card__content card__content--category">
            <div class="card__caption">
              Annons
            </div>
            <div class="article-teaser">
              <h3 class="article-teaser__title">
                Körde 50 meter – fast för rattfylleri
              </h3>
            </div>
          </div>
        </a>

      </div>
    </div>

    <div class="row mb-2">
      <div class="col-12 col-sm-4 mb-2">
        <a href="#" class="card card--link matchad">
          <div class="card__content matchad__row">
            <div class="matchad__text">
              <h3 class="matchad__title">Trygghet mellan jobb</h3>
              <p class="matchad__description">Fa tillgang till alla regelverk digital!</p>
              <p class="matchad__url">faronline.se</p>
            </div>
            <div class="matchad__thumb">
              <div class="image-aspect image-aspect--1x1">
                <img src="https://placehold.it/80x80" alt="" class="image-aspect__img"/>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-4 mb-2">
        <a href="#" class="card card--link matchad">
          <div class="card__content matchad__row">
            <div class="matchad__text">
              <h3 class="matchad__title">Trygghet mellan jobb</h3>
              <p class="matchad__description">Fa tillgang till alla regelverk digital!</p>
              <p class="matchad__url">faronline.se</p>
            </div>
            <div class="matchad__thumb">
              <div class="image-aspect image-aspect--1x1">
                <img src="https://placehold.it/80x80" alt="" class="image-aspect__img"/>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-4 mb-2">
        <a
          href="https://delivery.adnuntius.com/c/qJCLnDbvTM3b6gKNXBq51AXo9-XYgiiEnwH69RKhikZZ1xB8vSND5jEpTB5ajWNs82LWIpwH1U50IG78N736dI7AhJRlINPjwERByZMxhjLLZ5VlygaggEqUR48upy3nFhQ03Jno0ihC4UUgxEzhsDeciI6yJpWvoaQIWPbPKc6gSbztznSZF3LAYM_Yp5Z8pnpCEySHP0l6BJpSjGiLQJSB9reZY2amUiQ-5J8HJTquGqhLIrZnUu7p07oTOXnZ5J3bUl2fAMTnry6g2W29yvu8Bkmy-iQgS3GPXw?r=http%3A%2F%2Fwww.sommarroadtrip.se%2F%3Futm_source%3DMatchAds%26utm_medium%3Dnative&ct=2501"
          class="card card--link matchad">
          <div class="card__content matchad__row">
            <div class="matchad__text">
              <h3 class="matchad__title">Härligaste sommarstäderna</h3>
              <p class="matchad__description">Besök Vimmerby, Västervik och Visby i sommar!</p>
              <p class="matchad__url">sommarroadtrip.se</p>
            </div>
            <div class="matchad__thumb">
              <div class="image-aspect image-aspect--1x1">
                <img
                  src="http://assets.adnuntius.com/Xm39t6skfpj2S9PPXVAFXXVZvkhyENo31kx9mrHhEgs.jpg"
                  alt="sommarroadtrip thumb"
                  class="image-aspect__img"/>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
