<div class="mega-menu" id="searchMegaMenu">
  <div class="container">
    <div class="mega-menu__inner">
      <div class="row">
      <div class="col-md-2">
        <div class="mega-menu__title">SÖK</div>
      </div>
      <div class="col-md-9 mt-2">
        <div>
          Här kan du söka efter artiklar på nwt.se. Använd mellanslag om du söker på flera ord samtidigt.
        </div>
        <div>
          <div class="input input--search input--has-icon">
            <div class="input__inner">
              <label class="input__label" for="inputId2">Fyll i sökord…</label>
              <input class="input__field" id="inputId2" type="text">
              <button type="submit" class="button input__icon pt-0 pb-0">
                <svg class="icon icon--block">
                  <use xlink:href="#search"></use>
                </svg>
              </button>
            </div>
            <div class="input__hint">
              Tryck på enter för att söka.
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
