<div class="mega-menu mega-menu--other" id="otherMegaMenu">
  <div class="container">
    <div class="mega-menu__inner">
      <div class="row">
        <div class="col-md-3">
          <ul class="clear-list clear-list--space-2">
            <li class="clear-list__item">
              <a href="#" class="mega-menu__section-title">Play</a>
            </li>
            <li class="clear-list__item">
              <a href="#" class="mega-menu__section-title">OM NWTGROUPE</a>
            </li>
            <li class="clear-list__item">
              <a href="#" class="mega-menu__section-title">KONTAKTA VF</a>
            </li>
            <li class="clear-list__item">
              <a href="#" class="mega-menu__section-title">TIPSA VF</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="clear-list clear-list--space-2">
            <li class="clear-list__item">
              <a href="#">
                <svg class="icon icon--block icon--logo-mg">
                  <use xlink:href="#logo-mg"></use>
                </svg>
              </a>
            </li>
            <li class="clear-list__item">
              <a href="#">
                <svg class="icon icon--block icon--logo-fa">
                  <use xlink:href="#logo-fa"></use>
                </svg>
              </a>
            </li>
            <li class="clear-list__item">
              <a href="#">
                <svg class="icon icon--block icon--logo-lo">
                  <use xlink:href="#logo-lo"></use>
                </svg>
              </a>
            </li>
            <li class="clear-list__item">
              <a href="#">
                <svg class="icon icon--block icon--logo-lojo">
                  <use xlink:href="#logo-lojo"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-10 icon--block m-auto mb-2">
              <use xlink:href="#advertise"></use>
            </svg>

            <div class="h4 text-uppercase font-weight-bold text-center">
              Annonsera
            </div>
          </a>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <a href="#" class="icon-link">
            <svg class="icon icon--size-10 icon--block m-auto mb-2">
              <use xlink:href="#customer-service"></use>
            </svg>

            <div class="h4 text-uppercase font-weight-bold text-center">
              Kundservice
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
