<div class="mega-menu" id="userMegaMenu">
  <div class="container">
    <div class="mega-menu__inner">

      <div class="row">
        <div class="col-5">
          <div class="login-box">

            <div class="login-box__error js-login-error-container" hidden>
            <!-- if tulo_error=invalid_username_or_password / hidden on default-->
            Fel e-postadress eller lösenord
            </div>
            <form method="POST" action="/login/">

            <div class="input">
              <div class="input__inner">
                <label class="input__label" for="login-box-email">E-postadress</label>
                <input class="input__field" id="login-box-email" name="email" type="email" required>
              </div>
            </div>

            <div class="input">
              <div class="input__inner">
                <label class="input__label" for="login-box-password">Lösenord</label>
                <input class="input__field" id="login-box-password" name="password" type="password" required>
              </div>
            </div>

            <div class="checkbox">
              <input type="checkbox" class="checkbox__input" value="remember-me" name="rememberMe" id="login-box-rememberme" checked="checked">
              <label for="login-box-rememberme" class="checkbox__label">Håll mig inloggad</label>
            </div>

            <button class="button button--primary button--wide mt-2">
              <span class="button__inner">
                <span class="button__text">Logga in</span>
              </span>
            </button>
            <div class="input__hint text-center mt-1">
              <a href="#" class="login-box__password-link">Glömt lösenord</a>
            </div>
            <input type="hidden" class="tulo-returnurl" name="forward_url" value="/">
            </form>
          </div>
        </div>
        <div class="col-2">
          <div class="mega-menu__divider">
          </div>
        </div>

        <div class="col-5">
          <div class="subscription-teaser">
            <p>
            En digital prenumeration kostar bara 1 krona första månaden, därefter 99 kr/månad. Ingen bindningstid.
            </p>
            <p class="font-weight-bold">
              Erbjudandet gäller:
            </p>
            <p>
              Plus på alla NWT-koncernens sajter: nwt.se, vf.se, sla.se och mariestadstidningen.se.
            </p>

            <button class="button button--secondary button--wide">
              <span class="button__inner">
                <span class="button__text">Prenumerate</span>
              </span>
            </button>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
