<div class="mega-menu" id="subscriptionsMegaMenu">
  <div class="container">

    <div class="mega-menu__inner">
      <div class="row">
        <div class="col-3">
          <div class="mega-menu__aside">
            <h2 class="mega-menu__title mb-1">
              Mitt konto
            </h2>
            <p id="welcome-message-box" class="welcome-message-box mb-7">Välkommen, Maniek</p>
            <ul class="user-actions clear-list">
              <li class="user-actions__item">
                <a class="user-actions__link" href="#">Mitt konto</a>
              </li>
              <li class="user-actions__item">
                <a class="user-actions__link" href="#">Settings</a>
              </li>
              <li class="user-actions__item user-actions__item--logout">
                <a class="user-actions__link user-actions__link--logout js-login-logout-trigger" href="#">Logga ut</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-9">
          <div id="subscription-container">
          <div class="subscription-list">
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.arvikanyheter.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/arvika-nyheter/2017-09-25/thumbnails/6-nwt_arvika-nyheter_page_2017-09-25_1_1_1618967576_886066_thumb512m.pdf.jpg"
                    alt="Länk till Arvika Nyheter epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Arvika Nyheter
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.dalslanningen.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/dalslanningen/2016-06-14/thumbnails/3-nwt_dalslanningen_page_2016-06-14_1_1_3693083115_746563_thumb512m.pdf.jpg"
                    alt="Länk till Dalslänningen epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Dalslänningen
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.filipstadstidning.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/filipstads-tidning/2017-06-30/thumbnails/3-nwt_filipstads-tidning_page_2017-06-30_1_1_2462822233_857145_thumb512m.pdf.jpg"
                    alt="Länk till Filipstads Tidning epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Filipstads Tidning
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.fryksdalsbygden.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/fryksdalsbygden/2016-06-14/thumbnails/3-nwt_fryksdalsbygden_page_2016-06-14_1_1_1186874927_747830_thumb512m.pdf.jpg"
                    alt="Länk till Fryksdalsbygden epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Fryksdalsbygden
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.hjotidning.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/hjo-tidning/2016-06-14/thumbnails/6-nwt_hjo-tidning_page_2016-06-14_1_1_4019341416_747141_thumb512m.pdf.jpg"
                    alt="Länk till Hjo Tidning epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Hjo Tidning
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.karlskogatidning.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/karlskoga-tidning/2016-06-15/thumbnails/3-nwt_karlskoga-tidning_page_2016-06-15_1_1_3910781503_749080_thumb512m.pdf.jpg"
                    alt="Länk till Karlskoga Tidning epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Karlskoga Tidning
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.karlskoga-kuriren.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/karlskoga-kuriren/2016-06-15/thumbnails/3-nwt_karlskoga-tidning_page_2016-06-15_1_1_2218622367_749096_thumb512m.pdf.jpg"
                    alt="Länk till Karlskoga-Kuriren epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Karlskoga-Kuriren
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://#">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/karlstads-tidningen/2017-04-13/thumbnails/6-nwt_karlstads-tidningen_page_2017-04-13__1_176322006_832761_thumb512m.pdf.jpg"
                    alt="Länk till Karlstads-Tidningen epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Karlstads-Tidningen
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.mariestadstidningen.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/mariestads-tidningen/2016-06-15/thumbnails/3-nwt_mariestads-tidningen_page_2016-06-15_1_1_780669062_749024_thumb512m.pdf.jpg"
                    alt="Länk till Mariestads-Tidningen epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Mariestads-Tidningen
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.nkp.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/nya-kristinehamns-posten/2016-06-15/thumbnails/3-nwt_nya-kristinehamns-posten_page_2016-06-15_1_1_3491957464_749056_thumb512m.pdf.jpg"
                    alt="Länk till Nya Kristinehamns-Posten epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Nya Kristinehamns-Posten
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.nwt.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/nya-wermlands-tidningen/2016-11-23/thumbnails/3-nwt_nya-wermlands-tidningen_page_2016-11-23_1_1_3419851272_791222_thumb512m.pdf.jpg"
                    alt="Länk till Nya Wermlands-Tidningen epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Nya Wermlands-Tidningen
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.provinstidningen.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/provinstidningen-dalsland/2016-06-14/thumbnails/3-nwt_provinstidningen-dalsland_page_2016-06-14_1_1_2789111054_747401_thumb512m.pdf.jpg"
                    alt="Länk till Provinstidningen Dalsland epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Provinstidningen Dalsland
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://#">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/skaraborgs-allehanda/2016-06-15/thumbnails/3-nwt_skaraborgs-allehanda_page_2016-06-15_1_1_1837233154_748991_thumb512m.pdf.jpg"
                    alt="Länk till Skaraborgs Allehanda epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Skaraborgs Allehanda
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.saffletidningen.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/saffle-tidningen/2016-06-14/thumbnails/3-nwt_saffle-tidningen_page_2016-06-14_1_1_1768868767_747854_thumb512m.pdf.jpg"
                    alt="Länk till Säffle-Tidningen epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Säffle-Tidningen
                </div>
              </a></div>
            <div class="subscription-list__item">
              <a class="subscription-preview" href="http://dagens.vf.se">
                <div class="subscription-preview__cover">
                  <img
                    src="https://cdn-dev.im-epaper.se/products/nwt/varmlands-folkblad/2017-06-08/thumbnails/3-nwt_varmlands-folkblad_page_2017-06-08_1_1_714242388_850593_thumb512m.pdf.jpg"
                    alt="Länk till Värmlands Folkblad epaper" class="subscription-preview__thumb">
                </div>
                <div class="subscription-preview__title">
                  Till Värmlands Folkblad
                </div>
              </a></div>
              <div class="subscription-list__item">
                <a href="#more-subscriptions-link">
                    <div class="subscription-preview__more">
                        <span>Maybe another subscription?</span>
                    </div>
                </a>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
