<div class="mega-menu" id="sportMegaMenu">
  <div class="container">
    <div class="mega-menu__inner">
      <div class="row">
      <div class="col-6">
        <h3 class="mega-menu__section-title"><a href="#">SPORT</a></h3>
        <div class="row">
          <div class="col-md-4">
            <a href="#" class="mega-menu__link">Amerikansk fotball</a>
            <a href="#" class="mega-menu__link">Bandy</a>
            <a href="#" class="mega-menu__link">Basket</a>
            <a href="#" class="mega-menu__link">Bowling</a>
            <a href="#" class="mega-menu__link">Fotboll</a>
            <a href="#" class="mega-menu__link">Friidrott</a>
            <a href="#" class="mega-menu__link">Folj</a>
          </div>

          <div class="col-md-4">
            <a href="#" class="mega-menu__link">Golf</a>
            <a href="#" class="mega-menu__link">Handboll</a>
            <a href="#" class="mega-menu__link">Innebandy</a>
            <a href="#" class="mega-menu__link">Ishockey</a>
            <a href="#" class="mega-menu__link">Motorsport</a>
            <a href="#" class="mega-menu__link">Orientering</a>
            <a href="#" class="mega-menu__link">Ridsport</a>
          </div>

          <div class="col-md-4">
            <a href="#" class="mega-menu__link">Simsport</a>
            <a href="#" class="mega-menu__link">Skytte</a>
            <a href="#" class="mega-menu__link">Speedway</a>
            <a href="#" class="mega-menu__link">Trav/spel</a>
            <a href="#" class="mega-menu__link">Vintersport</a>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="row align-items-stretch">
          <div class="col-6">
            <a href="#">
              <div class="card card--flat">
                <div class="image-aspect card__image">
                  <img src="https://picsum.photos/160/90?image=885" alt="Test" class="image-aspect__img">
                </div>
                <div class="card__content">
                  <div class="text-paragraph">
                    Blixt med tätkänning
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6">
            <div class="card card--flat">
              <div class="image-aspect card__image">
                <img src="https://picsum.photos/160/90?image=819" alt="Test" class="image-aspect__img">
              </div>
              <div class="card__content">
                <div class="text-paragraph">
                  Törngren sänkte Linköping
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
