<div class="mega-menu" id="0-weather.MegaMenu">
  <div class="container">
    <div class="mega-menu__inner">
      <ul class="weather-list">
        <li class="weather-list__item">
          <a href="#" class="weather-pane">
            <div class="weather-pane__header">
              <div class="weather-pane__title">
                Idag
              </div>
              <div class="weather-pane__date">
                26 Mar
              </div>
            </div>
            <div class="weather-pane__weather">
              <div class="weather-pane__icon">
                <svg class="icon icon--block icon--weather-12">
                  <use xlink:href="#weather-12"></use>
                </svg>
              </div>
              <div class="weather-pane__temperature">
                -2&deg;
              </div>
            </div>

            <ul class="weather-pane__additional">
              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vind
                </div>
                <div class="weather-pane__additional-value">
                  2 m/s
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vindriktning
                </div>
                <div class="weather-pane__additional-value">
                  N
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Nederbörd
                </div>
                <div class="weather-pane__additional-value">
                  20 mm
                </div>
              </li>
            </ul>
          </a>
        </li>
        <li class="weather-list__item">
          <a href="#" class="weather-pane">
            <div class="weather-pane__header">
              <div class="weather-pane__title">
                Tisdag
              </div>
              <div class="weather-pane__date">
                27 Mar
              </div>
            </div>
            <div class="weather-pane__weather">
              <div class="weather-pane__icon">
                <svg class="icon icon--block icon--weather-1">
                  <use xlink:href="#weather-1"></use>
                </svg>
              </div>
              <div class="weather-pane__temperature">
                -0&deg;
              </div>
            </div>

            <ul class="weather-pane__additional">
              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vind
                </div>
                <div class="weather-pane__additional-value">
                  0 m/s
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vindriktning
                </div>
                <div class="weather-pane__additional-value">
                  NV
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Nederbörd
                </div>
                <div class="weather-pane__additional-value">
                  10 mm
                </div>
              </li>
            </ul>
          </a>
        </li>
        <li class="weather-list__item">
          <a href="#" class="weather-pane">
            <div class="weather-pane__header">
              <div class="weather-pane__title">
                Onstag
              </div>
              <div class="weather-pane__date">
                28 Mar
              </div>
            </div>
            <div class="weather-pane__weather">
              <div class="weather-pane__icon">
                <svg class="icon icon--block icon--weather-8">
                  <use xlink:href="#weather-8"></use>
                </svg>
              </div>
              <div class="weather-pane__temperature">
                2&deg;
              </div>
            </div>

            <ul class="weather-pane__additional">
              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vind
                </div>
                <div class="weather-pane__additional-value">
                  1 m/s
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vindriktning
                </div>
                <div class="weather-pane__additional-value">
                  SO
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Nederbörd
                </div>
                <div class="weather-pane__additional-value">
                  0 mm
                </div>
              </li>
            </ul>
          </a>
        </li>
        <li class="weather-list__item">
          <a href="#" class="weather-pane">
            <div class="weather-pane__header">
              <div class="weather-pane__title">
                Torsdag
              </div>
              <div class="weather-pane__date">
                28 Mar
              </div>
            </div>
            <div class="weather-pane__weather">
              <div class="weather-pane__icon">
                <svg class="icon icon--block icon--weather-13">
                  <use xlink:href="#weather-13"></use>
                </svg>
              </div>
              <div class="weather-pane__temperature">
                8&deg;
              </div>
            </div>

            <ul class="weather-pane__additional">
              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vind
                </div>
                <div class="weather-pane__additional-value">
                  1 m/s
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vindriktning
                </div>
                <div class="weather-pane__additional-value">
                  SO
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Nederbörd
                </div>
                <div class="weather-pane__additional-value">
                  8 mm
                </div>
              </li>
            </ul>
          </a>
        </li>
        <li class="weather-list__item">
          <a href="#" class="weather-pane">
            <div class="weather-pane__header">
              <div class="weather-pane__title">
                Fredag
              </div>
              <div class="weather-pane__date">
                30 Mar
              </div>
            </div>
            <div class="weather-pane__weather">
              <div class="weather-pane__icon">
                <svg class="icon icon--block icon--weather-2">
                  <use xlink:href="#weather-2"></use>
                </svg>
              </div>
              <div class="weather-pane__temperature">
                -3&deg;
              </div>
            </div>

            <ul class="weather-pane__additional">
              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vind
                </div>
                <div class="weather-pane__additional-value">
                  4 m/s
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vindriktning
                </div>
                <div class="weather-pane__additional-value">
                  O
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Nederbörd
                </div>
                <div class="weather-pane__additional-value">
                  2 mm
                </div>
              </li>
            </ul>
          </a>
        </li>
        <li class="weather-list__item">
          <a href="#" class="weather-pane">
            <div class="weather-pane__header">
              <div class="weather-pane__title">
                LöRDAG
              </div>
              <div class="weather-pane__date">
                1 apr
              </div>
            </div>
            <div class="weather-pane__weather">
              <div class="weather-pane__icon">
                <svg class="icon icon--block icon--weather-15">
                  <use xlink:href="#weather-15"></use>
                </svg>
              </div>
              <div class="weather-pane__temperature">
                0&deg;
              </div>
            </div>

            <ul class="weather-pane__additional">
              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vind
                </div>
                <div class="weather-pane__additional-value">
                  6 m/s
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Vindriktning
                </div>
                <div class="weather-pane__additional-value">
                  NV
                </div>
              </li>

              <li class="weather-pane__additional-item">
                <div class="weather-pane__additional-key">
                  Nederbörd
                </div>
                <div class="weather-pane__additional-value">
                  10 mm
                </div>
              </li>
            </ul>
          </a>
        </li>
      </ul>
      <div class="mega-menu__more pr-2 mt-4">
        <a href="#">Check more SMHI weather &gt;&gt;</a>
      </div>
    </div>
  </div>
</div>
