<div class="page-404">
  <h1 class="page-404__title">
    Oops!
    <span class="page-404__error">404</span>
  </h1>
  <div class="page-404__info">
    <svg class="icon">
      <use xlink:href="#near-me"></use>
    </svg>
    Vi kan inte hitta sidan du söker.
  </div>

  <div class="page-404__links">
    <a href="#">TILLBAKA TILL STARTSIDAN</a>
  </div>
</div>
