
<div class="group">
  <div class="group__element">
    <small>Full pagination</small>

    <nav class="pagination">
      <div class="pagination__text">1-10 of 50</div>
      <a href="#" class="pagination__control" aria-label="Previous" rel="prev">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-left"></use>
        </svg>
      </a>
      <ol class="pagination__list">
        <li class="pagination__list-item" aria-hidden="true">
          <span class="pagination__link pagination__link--static">&hellip;</span>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">5</a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link pagination__link--active">
            6
            <span class="sr-only">Active</span>
          </a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">7</a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">8</a>
        </li>
        <li class="pagination__list-item" aria-hidden="true">
          <span class="pagination__link pagination__link--static">&hellip;</span>
        </li>
      </ol>
      <a href="#" class="pagination__control" aria-label="Next" rel="next">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-right"></use>
        </svg>
      </a>
    </nav>
  </div>
  <div class="group__element">
    <small>Text + controls</small>

    <nav class="pagination">
      <div class="pagination__text">1-10 of 50</div>
      <a href="#" class="pagination__control" aria-label="Previous" rel="prev">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-left"></use>
        </svg>
      </a>

      <a href="#" class="pagination__control" aria-label="Next" rel="next">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-right"></use>
        </svg>
      </a>
    </nav>
  </div>
  <div class="group__element">
    <small>Text + controls (one disabled)</small>

    <nav class="pagination">
      <div class="pagination__text">1-10 of 50</div>
      <span class="pagination__control pagination__control--disabled" aria-hidden="true">
    <svg class="icon icon--block" aria-hidden="true">
      <use xlink:href="#arr-left"></use>
    </svg>
  </span>

      <a href="#" class="pagination__control" aria-label="Next" rel="next">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-right"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="group__element">
    <small>Controls + list</small>

    <nav class="pagination">
      <a href="#" class="pagination__control" aria-label="Previous" rel="prev">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-left"></use>
        </svg>
      </a>
      <ol class="pagination__list">
        <li class="pagination__list-item" aria-hidden="true">
          <span class="pagination__link pagination__link--static">&hellip;</span>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">5</a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link pagination__link--active">
            6
            <span class="sr-only">Active</span>
          </a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">7</a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">8</a>
        </li>
        <li class="pagination__list-item" aria-hidden="true">
          <span class="pagination__link pagination__link--static">&hellip;</span>
        </li>
      </ol>
      <a href="#" class="pagination__control" aria-label="Next" rel="next">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-right"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="group__element">
    <small>Controls + list (first active)</small>

    <nav class="pagination">
  <span class="pagination__control pagination__control--disabled" aria-hidden="true">
    <svg class="icon icon--block" aria-hidden="true">
      <use xlink:href="#arr-left"></use>
    </svg>
  </span>
      <ol class="pagination__list">
        <li class="pagination__list-item">
          <a href="#" class="pagination__link pagination__link--active">
            1
            <span class="sr-only">Active</span>
          </a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">2</a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">3</a>
        </li>
        <li class="pagination__list-item">
          <a href="#" class="pagination__link">4</a>
        </li>
        <li class="pagination__list-item" aria-hidden="true">
          <span class="pagination__link pagination__link--static">&hellip;</span>
        </li>
      </ol>
      <a href="#" class="pagination__control" aria-label="Next" rel="next">
        <svg class="icon icon--block" aria-hidden="true">
          <use xlink:href="#arr-right"></use>
        </svg>
      </a>
    </nav>
  </div>
</div>
