<div class="paywall">
  <h2 class="paywall__header">
    Vill du läsa mer?
  </h2>
  <div class="paywall__body">
    <p>Du behöver en prenumeration för att läsa artikeln. En digital prenumeration kostar bara 1 krona första månaden, därefter
      99 kr/månad. Ingen bindningstid.</p>
  </div>
  <div class="paywall__button">
    <button id="login-modal" class="button button--primary" data-modal-trigger="login-modal-window">
      <span class="button__inner">
        <span class="text-caption">
          LOGGA IN
        </span>
      </span>
    </button>
    <a href="#" class="button button--secondary">
      <span class="button__inner">
        <span class="text-caption">
          PRENUMERATE
        </span>
      </span>
    </a>
  </div>

  <div class="paywall__bottom">
    <div style="text-align:center">
    <p>Din prenumeration gäller tillgång till<br>Plus på alla NWT-gruppens sajter.</p>
    <p><a href="http://kund.nwt.se/paket/vf/vf/">Välj annat erbjudande</a></p>
    </div>
  </div>
</div>
