<section class="popular-box">
  <header class="popular-box__header">
    <h3 class="popular-box__title">
      Popular post
    </h3>
  </header>

  <ul class="popular-box__list">
    <li class="popular-box__item">
      <a href="#" class="article-teaser article-teaser--popular">
        <div class="article-teaser__row">
          <div class="article-teaser__header">
            <h3 class="article-teaser__title text-small font-weight-bold">
              Körde 50 meter – fast för rattfylleri
            </h3>
          </div>
          <div class="article-teaser__thumb">
            <img src="https://www.placehold.it/72x72" alt="Test">
          </div>
        </div>
      </a>
    </li>

    <li class="popular-box__item">
      <a href="#"  class="article-teaser article-teaser--popular">
        <div class="article-teaser__row">
          <div class="article-teaser__header">
            <h3 class="article-teaser__title text-small font-weight-bold">
              Tågförseningar till och från Stockholm
            </h3>
          </div>
          <div class="article-teaser__thumb">
            <img src="https://www.placehold.it/72x72" alt="Test">
          </div>
        </div>
      </a>
    </li>

    <li class="popular-box__item">
      <a href="#"  class="article-teaser article-teaser--popular">
        <div class="article-teaser__row">
          <div class="article-teaser__header">
            <h3 class="article-teaser__title text-small font-weight-bold">
              Norrmännen för svåra för lag Edin
            </h3>
          </div>
          <div class="article-teaser__thumb">
            <img src="https://www.placehold.it/72x72" alt="Test">
          </div>
        </div>
      </a>
    </li>

    <li class="popular-box__item">
      <a href="#"  class="article-teaser article-teaser--popular">
        <div class="article-teaser__row">
          <div class="article-teaser__header">
            <h3 class="article-teaser__title text-small font-weight-bold">
              Körde 50 meter – fast för rattfylleri
            </h3>
          </div>
          <div class="article-teaser__thumb">
            <img src="https://www.placehold.it/72x72" alt="Test">
          </div>
        </div>
      </a>
    </li>

    <li class="popular-box__item">
      <a href="#"  class="article-teaser article-teaser--popular">
        <div class="article-teaser__row">
          <div class="article-teaser__header">
            <h3 class="article-teaser__title text-small font-weight-bold">
              Körde 50 meter – fast för rattfylleri
            </h3>
          </div>
          <div class="article-teaser__thumb">
            <img src="https://www.placehold.it/72x72" alt="Test">
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
