<div>
  <small>0%</small>

  <div class="progress">
    <div class="progress__completed">
      <span class="sr-only">Progress: 0%</span>
    </div>
  </div>
</div>

<div>
  <small>50%</small>
  <div class="progress">
    <div class="progress__completed" style="transform: scaleX(0.5)">
      <span class="sr-only">Progress: 50%</span>
    </div>
  </div>
</div>

<div>
  <small>100%</small>
  <div class="progress">
    <div class="progress__completed" style="transform: scaleX(1)">
      <span class="sr-only">Progress: 100%</span>
    </div>
  </div>
</div>
