<div class="responsive-embed">
  <iframe class="responsive-embed__item" src="https://www.youtube.com/embed/Isvqg90LhqM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
