<div class="scroll-indication" id="scroll-indictaion">
  <div class="container">


      <div class="scroll-indication__content">
        <div class="scroll-indication__icon">
          <svg class="icon icon--block">
            <use xlink:href="#arr-down"></use>
          </svg>
        </div>
        <div class="scroll-indication__info">
          <span class="scroll-indication__next">
            Nasta artikel
          </span>
          <p class="scroll-indication__article-title">Title title title</p>
        </div>
      </div>

  </div>
</div>
