<div class="widget ew-section-header">
  <header class="section-sport">
    <h2 class="ew-section-header__title">
      <a class="ew-section-header__link" href="https://vf.local.nwt.se/sport/">Sport</a>
    </h2>
  </header>
</div>
<div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit, inventore ipsam nihil placeat quas
  reiciendis! Ab cum facere minus nam obcaecati quae quis. Eligendi laudantium, nesciunt? Dicta quisquam, voluptas.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque doloremque dolores est eum
  excepturi fugiat magnam maxime necessitatibus nihil nobis non, obcaecati quo, sit tempora velit vero, voluptatum?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consequuntur corporis cumque, delectus,
  distinctio ea eum hic itaque maiores maxime molestiae obcaecati quae recusandae repellat rerum voluptas voluptatem
  voluptates?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit, inventore ipsam nihil placeat quas
  reiciendis! Ab cum facere minus nam obcaecati quae quis. Eligendi laudantium, nesciunt? Dicta quisquam, voluptas.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque doloremque dolores est eum
  excepturi fugiat magnam maxime necessitatibus nihil nobis non, obcaecati quo, sit tempora velit vero, voluptatum?
</div>

<div class="widget ew-section-header">
  <header class="section-family">
    <h2 class="ew-section-header__title">
      <a class="ew-section-header__link" href="https://vf.local.nwt.se/sport/">Familij</a>
    </h2>
  </header>
</div>
<div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit, inventore ipsam nihil placeat quas
  reiciendis! Ab cum facere minus nam obcaecati quae quis. Eligendi laudantium, nesciunt? Dicta quisquam, voluptas.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque doloremque dolores est eum
  excepturi fugiat magnam maxime necessitatibus nihil nobis non, obcaecati quo, sit tempora velit vero, voluptatum?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consequuntur corporis cumque, delectus,
  distinctio ea eum hic itaque maiores maxime molestiae obcaecati quae recusandae repellat rerum voluptas voluptatem
  voluptates?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit, inventore ipsam nihil placeat quas
  reiciendis! Ab cum facere minus nam obcaecati quae quis. Eligendi laudantium, nesciunt? Dicta quisquam, voluptas.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque doloremque dolores est eum
  excepturi fugiat magnam maxime necessitatibus nihil nobis non, obcaecati quo, sit tempora velit vero, voluptatum?
</div>

<div class="widget ew-section-header">
  <header class="section-culture">
    <h2 class="ew-section-header__title">
      <span class="ew-section-header__headline">Kultur</span>
    </h2>
  </header>
</div>
<div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit, inventore ipsam nihil placeat quas
  reiciendis! Ab cum facere minus nam obcaecati quae quis. Eligendi laudantium, nesciunt? Dicta quisquam, voluptas.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque doloremque dolores est eum
  excepturi fugiat magnam maxime necessitatibus nihil nobis non, obcaecati quo, sit tempora velit vero, voluptatum?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consequuntur corporis cumque, delectus,
  distinctio ea eum hic itaque maiores maxime molestiae obcaecati quae recusandae repellat rerum voluptas voluptatem
  voluptates?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit, inventore ipsam nihil placeat quas
  reiciendis! Ab cum facere minus nam obcaecati quae quis. Eligendi laudantium, nesciunt? Dicta quisquam, voluptas.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque doloremque dolores est eum
  excepturi fugiat magnam maxime necessitatibus nihil nobis non, obcaecati quo, sit tempora velit vero, voluptatum?
</div>
