<div class="row">
  <div class="col">
    <div class="sort">
      <div class="sort__label">Sort by:</div>
      <a href="#" class="sort__control">
        <div class="sort__field">Date</div>
        <svg class="icon sort__icon">
          <use xlink:href="#menu-down"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="sort sort--rotate">
      <div class="sort__label">Sort by:</div>
      <a href="#" class="sort__control">
        <div class="sort__field">Date</div>
        <svg class="icon sort__icon">
          <use xlink:href="#menu-down"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
