<div class="group">

  <div class="group__element">
    <div class="table">
      <div class="table__header">
        <h3 class="table__title">Some kind of header</h3>
      </div>
      <table class="table__content">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>E-tidining</th>
          <th>Number</th>
          <th>Year</th>
          <th>Plus</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>0</td>
          <td>NWT e-tidning</td>
          <td>21</td>
          <td>2018</td>
          <td>Ja</td>
        </tr>
        <tr>
          <td>0</td>
          <td>SLA e-tidning</td>
          <td>345</td>
          <td>2017</td>
          <td>Nej</td>
        </tr>
        <tr>
          <td>0</td>
          <td>Kurieren e-tidning</td>
          <td>34/9</td>
          <td>1998</td>
          <td>Nej</td>
        </tr>
        </tbody>
      </table>
      <div class="table__footer">
        <nav class="pagination">
          <div class="pagination__text">1-10 of 50</div>
          <a href="#" class="pagination__control" aria-label="Previous" rel="prev">
            <svg class="icon icon--block" aria-hidden="true">
              <use xlink:href="#arr-left"></use>
            </svg>
          </a>

          <a href="#" class="pagination__control" aria-label="Next" rel="next">
            <svg class="icon icon--block" aria-hidden="true">
              <use xlink:href="#arr-right"></use>
            </svg>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="group__element">
    <div class="table table--block">
      <div class="table__header">
        <h3 class="table__title">Some kind of header</h3>
      </div>
      <table class="table__content">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>E-tidining</th>
          <th>Number</th>
          <th>Year</th>
          <th>Plus</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>0</td>
          <td>NWT e-tidning</td>
          <td>21</td>
          <td>2018</td>
          <td>Ja</td>
        </tr>
        <tr>
          <td>0</td>
          <td>SLA e-tidning</td>
          <td>345</td>
          <td>2017</td>
          <td>Nej</td>
        </tr>
        <tr>
          <td>0</td>
          <td>Kurieren e-tidning</td>
          <td>34/9</td>
          <td>1998</td>
          <td>Nej</td>
        </tr>
        </tbody>
      </table>
      <div class="table__footer">
        <nav class="pagination">
          <div class="pagination__text">1-10 of 50</div>
          <a href="#" class="pagination__control" aria-label="Previous" rel="prev">
            <svg class="icon icon--block" aria-hidden="true">
              <use xlink:href="#arr-left"></use>
            </svg>
          </a>

          <a href="#" class="pagination__control" aria-label="Next" rel="next">
            <svg class="icon icon--block" aria-hidden="true">
              <use xlink:href="#arr-right"></use>
            </svg>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
