<div class="docs-section">
  <div class="row">

    <div class="col-12">
      <h1 class="docs-section__title">textads</h1>
    </div>

    <div class="col-12 col-sm-4">
      <div class="card textad textad--fun">
        <div class="card__content">
          <span class="textad__location">Karlstad kommun</span>
          <h3 class="textad__title">3 veckor kvar</h3>
          <div class="textad__links">
            <a href="#">
              <svg class="icon">
                <use xlink:href="#eye"></use>
              </svg>
              Se annons</a>
            <a href="#">
              <svg class="icon">
                <use xlink:href="#open_in_new"></use>
              </svg>
              Till annonsor</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="card textad textad--holiday">
        <div class="card__content">
          <span class="textad__location">Karlstad kommun</span>
          <h3 class="textad__title">3 veckor kvar</h3>
          <div class="textad__links">
            <a href="#">
              <svg class="icon">
                <use xlink:href="#eye"></use>
              </svg>
              Se annons</a>
            <a href="#">
              <svg class="icon">
                <use xlink:href="#open_in_new"></use>
              </svg>
              Till annonsor</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="card textad textad--auction">
        <div class="card__content">
          <span class="textad__location">Karlstad kommun</span>
          <h3 class="textad__title">3 veckor kvar</h3>
          <div class="textad__links">
            <a href="#">
              <svg class="icon">
                <use xlink:href="#eye"></use>
              </svg>
              Se annons</a>
            <a href="#">
              <svg class="icon">
                <use xlink:href="#open_in_new"></use>
              </svg>
              Till annonsor</a>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
