<div class="row">
  <div class="col">
    <small>Regular</small>

    <div class="group">
      <div class="group__element">
        <div class="tooltip">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="group__element">
        <div class="tooltip tooltip--left">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="group__element">
        <div class="tooltip tooltip--right">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="group__element">
        <div class="tooltip tooltip--bottom">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <small>Dark</small>
    <div class="group">
      <div class="group__element">
        <div class="tooltip tooltip--dark">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="group__element">
        <div class="tooltip tooltip--dark tooltip--left">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="group__element">
        <div class="tooltip tooltip--dark tooltip--right">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="group__element">
        <div class="tooltip tooltip--dark tooltip--bottom">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <small>Light</small>
    <div class="group">
      <div class="group__element">
        <div class="tooltip tooltip--light">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="group__element">
        <div class="tooltip tooltip--light tooltip--left">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="group__element">
        <div class="tooltip tooltip--light tooltip--right">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="group__element">
        <div class="tooltip tooltip--light tooltip--bottom">
          <div class="tooltip__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
