<div class="top-bar">
  <div class="container">
    <div class="top-bar__inner">
      <div class="top-bar__item">
        <div class="inline-list inline-list--space-2" style="opacity:1">

          <div class="inline-list__item">
            <span class="text-small"><strong>Få tillgång till plus</strong> - endast 1 krona första månaden</span>
          </div>
          <div class="inline-list__item">
            <button class="button button--secondary">
              <span class="button__inner">
                <span class="text-caption font-weight-bold text-uppercase">
                  TILL ERBJUDANDET
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
