<div class="docs-section">
  <h3 id="typography-sans-regular">Sans regular</h3>
  <div class="font-sans">
    <div class="text-uber">Uber header</div>
    <div class="text-hero">Hero Header</div>
    <div class="text-h1">H1 Header</div>
    <div class="text-h2">H2 Header</div>
    <div class="text-h3">H3 Header</div>
    <div class="text-h4">H4 Header</div>
    <div class="text-lead">Leading text</div>
    <div class="text-paragraph">Paragraph text</div>
    <div class="text-small">Small text</div>
    <div class="text-caption">Caption text</div>
  </div>
</div>

<div class="docs-section">
  <h3 id="typography-sans-bold">Sans bold</h3>
  <div class="font-sans font-weight-bold">
    <div class="text-uber">Uber header</div>
    <div class="text-hero">Hero Header</div>
    <div class="text-h1">H1 Header</div>
    <div class="text-h2">H2 Header</div>
    <div class="text-h3">H3 Header</div>
    <div class="text-h4">H4 Header</div>
    <div class="text-lead">Leading text</div>
    <div class="text-paragraph">Paragraph text</div>
    <div class="text-small">Small text</div>
    <div class="text-caption">Caption text</div>
  </div>
</div>

<div class="docs-section">
  <h4 id="typography-preview">Preview</h4>

  <div class="docs-section">
    <strong>h1</strong>
    <div>
      <h1>Others have failed,<br/> I will not.</h1>
    </div>
  </div>

  <div class="docs-section">
    <strong>h2</strong>
    <div>
      <h2>Others have failed,<br/> I will not.</h2>
    </div>
  </div>

  <div class="docs-section">
    <strong>lead</strong>
    <div>
      <div class="lead">
        Det är ett frontsystem som rört sig in över länet västerifrån och som har gett en hel del snö,
        säger Marcus Sjöstedt, jourhavande meteorolog vid SMHI.
      </div>
    </div>
  </div>

  <div class="docs-section">
    <strong>body</strong>
    <div>
      <p>
        Ja, det är ett lite stökigt väderläge just nu eftersom det är en hel del vind i samband med snöfallet. Det
        handlar om friska vindbyar med sydostlig riktning. Blåsten kommer att fortsätta och kanske till och med tillta
        något innan det lugnar ner sig framemot kvällen. Men då ger det sig ganska snabbt.
      </p>

      <p>
        <a href="#">Marcus Sjöstedt</a> vill också passa på att varna trafikanterna i länet.
      </p>

      <p>
        Snöfallet i kombination med blåsten kan ge en hel del problem på vägarna med drivbildning och nedsatt sikt.
      </p>
    </div>
  </div>

  <div class="docs-section">
    <strong>list</strong>
    <div>
      <ul>
        <li>Type something XD</li>
        <li>Type something XD</li>
        <li>Type something XD</li>
      </ul>
    </div>
  </div>

  <div class="docs-section">
    <strong>blockquote</strong>
    <div>
      <blockquote>
        Det är ett frontsystem som rört sig in över länet västerifrån och som har gett en hel del snö, säger Marcus
        Sjöstedt, jourhavande meteorolog vid SMHI.
      </blockquote>
    </div>
  </div>

  <div class="docs-section">
    <strong>additional</strong>
    <div>
      <div class="additional">
        Ja, det är ett lite stökigt väderläge just nu eftersom det är en hel del vind i samband med snöfallet. Det
        handlar om friska vindbyar med sydostlig riktning. Blåsten kommer att fortsätta och kanske till och med tillta
        något innan det lugnar ner sig framemot kvällen. Men då ger det sig ganska snabbt.
      </div>
    </div>
  </div>
</div>
