<div class="weather-pane">
  <div class="weather-pane__header">
    <div class="weather-pane__title">
      Tisdag
    </div>
    <div class="weather-pane__date">
      72 Mar
    </div>
  </div>
  <div class="weather-pane__weather">
    <div class="weather-pane__icon">
      <svg class="icon icon--weather-2 icon--block">
        <use xlink:href="#weather-2"></use>
      </svg>
    </div>
    <div class="weather-pane__temperature">
      1&deg;
    </div>

  </div>

  <ul class="weather-pane__additional">
    <li class="weather-pane__additional-item">
      <div class="weather-pane__additional-key">
        Vind
      </div>
      <div class="weather-pane__additional-value">
        8 m/s
      </div>
    </li>

    <li class="weather-pane__additional-item">
      <div class="weather-pane__additional-key">
        Vindriktning
      </div>
      <div class="weather-pane__additional-value">
        v
      </div>
    </li>

    <li class="weather-pane__additional-item">
      <div class="weather-pane__additional-key">
        Nederbörd
      </div>
      <div class="weather-pane__additional-value">
        8 mm
      </div>
    </li>
  </ul>
</div>
