<!-- Wp forms markup -->
<div class="wpforms-container wpforms-container-full" id="wpforms-106">
  <form id="wpforms-form-106" class="wpforms-validate wpforms-form" data-formid="106" method="post" enctype="multipart/form-data"
    action="/skriv-en-insandare/#wpforms-106">
    <div class="wpforms-field-container">
      <div id="wpforms-106-field_1-container" class="wpforms-field wpforms-field-name" data-field-id="1">
        <label class="wpforms-field-label" for="wpforms-106-field_1">Name
          <span class="wpforms-required-label">*</span>
        </label>
        <div class="wpforms-field-row wpforms-field-medium">
          <div class="wpforms-field-row-block wpforms-first wpforms-one-half">
            <input type="text" id="wpforms-106-field_1" class="wpforms-field-name-first wpforms-field-required" name="wpforms[fields][1][first]"
              required="">
            <label for="wpforms-106-field_1" class="wpforms-field-sublabel after ">First</label>
          </div>
          <div class="wpforms-field-row-block wpforms-one-half">
            <input type="text" id="wpforms-106-field_1-last" class="wpforms-field-name-last wpforms-field-required" name="wpforms[fields][1][last]"
              required="">
            <label for="wpforms-106-field_1-last" class="wpforms-field-sublabel after ">Last</label>
          </div>
        </div>
      </div>
      <div id="wpforms-106-field_2-container" class="wpforms-field wpforms-field-email" data-field-id="2">
        <label class="wpforms-field-label" for="wpforms-106-field_2">Email
          <span class="wpforms-required-label">*</span>
        </label>
        <input type="email" id="wpforms-106-field_2" class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][2]"
          required="">
      </div>
      <div id="wpforms-106-field_3-container" class="wpforms-field wpforms-field-textarea" data-field-id="3">
        <label class="wpforms-field-label" for="wpforms-106-field_3">Paragraph Text</label>
        <textarea id="wpforms-106-field_3" class="wpforms-field-medium" name="wpforms[fields][3]"></textarea>
      </div>
    </div>
    <div class="wpforms-field wpforms-field-hp" id="wpform-field-hp">
      <label for="wpforms-field_hp" class="wpforms-field-label">Message</label>
      <input type="text" name="wpforms[hp]" id="wpforms-field_hp" class="wpforms-field-medium">
    </div>
    <div class="wpforms-submit-container">
      <input type="hidden" name="wpforms[id]" value="106">
      <input type="hidden" name="wpforms[author]" value="2">
      <input type="hidden" name="wpforms[post_id]" value="53">
      <button type="submit" name="wpforms[submit]" class="wpforms-submit " id="wpforms-submit-106" value="wpforms-submit" data-alt-text="Sending...">Submit</button>
    </div>
  </form>
</div>


<div class="wpforms-container wpforms-container-full" id="wpforms-118">
  <form id="wpforms-form-118" class="wpforms-validate wpforms-form" data-formid="118" method="post" enctype="multipart/form-data"
    action="/sample-page/#wpforms-118">
    <div class="wpforms-field-container">
      <div id="wpforms-118-field_8-container" class="wpforms-field wpforms-field-name" data-field-id="8">
        <label class="wpforms-field-label" for="wpforms-118-field_8">Name
          <span class="wpforms-required-label">*</span>
        </label>
        <div class="wpforms-field-row wpforms-field-medium">
          <div class="wpforms-field-row-block wpforms-first wpforms-one-half">
            <input type="text" id="wpforms-118-field_8" class="wpforms-field-name-first wpforms-field-required" name="wpforms[fields][8][first]"
              required="">
            <label for="wpforms-118-field_8" class="wpforms-field-sublabel after ">First</label>
          </div>
          <div class="wpforms-field-row-block wpforms-one-half">
            <input type="text" id="wpforms-118-field_8-last" class="wpforms-field-name-last wpforms-field-required" name="wpforms[fields][8][last]"
              required="">
            <label for="wpforms-118-field_8-last" class="wpforms-field-sublabel after ">Last</label>
          </div>
        </div>
      </div>
      <div id="wpforms-118-field_7-container" class="wpforms-field wpforms-field-text" data-field-id="7">
        <label class="wpforms-field-label" for="wpforms-118-field_7">Single Line Text</label>
        <input type="text" id="wpforms-118-field_7" class="wpforms-field-medium" name="wpforms[fields][7]">
      </div>
      <div id="wpforms-118-field_6-container" class="wpforms-field wpforms-field-textarea" data-field-id="6">
        <label class="wpforms-field-label" for="wpforms-118-field_6">Paragraph Text</label>
        <textarea id="wpforms-118-field_6" class="wpforms-field-medium" name="wpforms[fields][6]"></textarea>
      </div>
      <div id="wpforms-118-field_3-container" class="wpforms-field wpforms-field-number" data-field-id="3">
        <label class="wpforms-field-label" for="wpforms-118-field_3">Numbers</label>
        <input type="number" id="wpforms-118-field_3" class="wpforms-field-medium" name="wpforms[fields][3]">
      </div>
      <div id="wpforms-118-field_4-container" class="wpforms-field wpforms-field-radio" data-field-id="4">
        <label class="wpforms-field-label" for="wpforms-118-field_4">Multiple Choice</label>
        <ul id="wpforms-118-field_4">
          <li class="choice-1 depth-1">
            <input type="radio" id="wpforms-118-field_4_1" name="wpforms[fields][4]" value="First Choice">
            <label class="wpforms-field-label-inline" for="wpforms-118-field_4_1">First Choice</label>
          </li>
          <li class="choice-2 depth-1">
            <input type="radio" id="wpforms-118-field_4_2" name="wpforms[fields][4]" value="Second Choice">
            <label class="wpforms-field-label-inline" for="wpforms-118-field_4_2">Second Choice</label>
          </li>
          <li class="choice-3 depth-1">
            <input type="radio" id="wpforms-118-field_4_3" name="wpforms[fields][4]" value="Third Choice">
            <label class="wpforms-field-label-inline" for="wpforms-118-field_4_3">Third Choice</label>
          </li>
        </ul>
      </div>
      <div id="wpforms-118-field_5-container" class="wpforms-field wpforms-field-checkbox" data-field-id="5">
        <label class="wpforms-field-label" for="wpforms-118-field_5">Checkboxes</label>
        <ul id="wpforms-118-field_5">
          <li class="choice-1 depth-1">
            <input type="checkbox" id="wpforms-118-field_5_1" name="wpforms[fields][5][]" value="First Choice">
            <label class="wpforms-field-label-inline" for="wpforms-118-field_5_1">First Choice</label>
          </li>
          <li class="choice-2 depth-1">
            <input type="checkbox" id="wpforms-118-field_5_2" name="wpforms[fields][5][]" value="Second Choice">
            <label class="wpforms-field-label-inline" for="wpforms-118-field_5_2">Second Choice</label>
          </li>
          <li class="choice-3 depth-1">
            <input type="checkbox" id="wpforms-118-field_5_3" name="wpforms[fields][5][]" value="Third Choice">
            <label class="wpforms-field-label-inline" for="wpforms-118-field_5_3">Third Choice</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="wpforms-field wpforms-field-hp" id="wpform-field-hp">
      <label for="wpforms-field_hp" class="wpforms-field-label">Name</label>
      <input type="text" name="wpforms[hp]" id="wpforms-field_hp" class="wpforms-field-medium">
    </div>
    <div id="wpforms-118-field_9-container" class="wpforms-field wpforms-field-select" data-field-id="9">
      <label class="wpforms-field-label" for="wpforms-118-field_9">Dropdown</label>
      <select name="wpforms[fields][9]" id="wpforms-118-field_9" class="wpforms-field-medium">
        <option value="First Choice">First Choice</option>
        <option value="Second Choice">Second Choice</option>
        <option value="Third Choice">Third Choice</option>
      </select>
    </div>
    <div class="wpforms-submit-container">
      <input type="hidden" name="wpforms[id]" value="118">
      <input type="hidden" name="wpforms[author]" value="1">
      <input type="hidden" name="wpforms[post_id]" value="2">
      <button type="submit" name="wpforms[submit]" class="wpforms-submit " id="wpforms-submit-118" value="wpforms-submit" data-alt-text="Sending...">Submit</button>
    </div>

  </form>
</div>

