.page-static {
  &__header {
    margin-bottom: size(4);
  }
  &__title, h1 {
    @include font("h3");
    margin-bottom: size(4);
    &::before {
      transition: background-color 250ms ease-in-out;
      display: block;
      width: size(8);
      height: size(1/2);
      bottom: 100%;
      left: 0;
      content: '';
      background-color: get-theme-color($currentTheme, "main");
      transform: translateY(#{-1 * size(1)});
    }
  }
}